- @page_title = "鍛錬遷移グラフ"
%h1= @page_title

%div.well.desc
  = render "layouts/base_desc"
  %p
    %span.example_select.example_toggle.pointer
      - help_icon
      入力例
      - act_desc(false)
  #example.closed
    = render "layouts/input_desc"
= search_form_for @search, url: training_history_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td  
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td  
        %td= f.label :training_form, '鍛錬(ORのみ)'
        %td.formText= text_field_tag :training_graph_form, @training_graph_form
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button
%br
%br

%h3 特性鍛錬(割合)
= line_chart Training.training_type(0).search_result(params).to_training_history_rate_graph(params, :training), xtitle:"更新回", ytitle:"％"

%h3 学科鍛錬(割合)
= line_chart Training.training_type(1).search_result(params).to_training_history_rate_graph(params, :training), xtitle:"更新回", ytitle:"％", height: "750px"

%h3 特性鍛錬(回数)
= line_chart Training.training_type(0).search_result(params).to_training_history_graph(params, :training), xtitle:"更新回", ytitle:"鍛錬数"

%h3 学科鍛錬(回数)
= line_chart Training.training_type(1).search_result(params).to_training_history_graph(params, :training), xtitle:"更新回", ytitle:"鍛錬数", height: "750px"
