- @page_title = "鍛錬一覧"
%h1= @page_title

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "4"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td= f.label :training_form, '鍛錬'
        %td.formText= text_field_tag :training_form, @training_form
      %tr
        %td= f.label :training_type_form, '鍛錬種別'
        %td{colspan: "3"}
          = check_box_tag :is_characteristic, @is_characteristic, @is_characteristic
          = label_tag :is_characteristic, '特性'
          　　
          = check_box_tag :is_subject, @is_subject, @is_subject
          = label_tag :is_subject, '学科'
      %tr
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}= f.submit '検索する'


= paginate(@trainings)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :training_type, '種別', default_order: :desc)
      %th= sort_link(@search, :training, '鍛錬', default_order: :desc)
      %th{colspan:"2"} 結果リンク
  %tbody
    - @trainings.each do |training|
      %tr
        %td= training.result_no
        %td= p_name_text(training.e_no, training.p_name)
        %td
          = "特性" if training.training_type == 0
          = "学科" if training.training_type == 1
        %td= training.training_name.name if training.training_name
        %td= character_link(training.e_no)
        %td= character_old_link(@last_result, training.e_no, training.result_no)
= paginate(@trainings)
