- @page_title = "キャラ設定プロフィール一覧"
%h1= @page_title

.card.desc
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "4"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td  
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td  
        %td= f.label :nickname_form, '愛称'
        %td.formText= text_field_tag :nickname_form, @nickname_form
      %tr
        %td  
        %td= f.label :tone_form, '口調'
        %td.formText= text_field_tag :tone_form, @tone_form
      %tr
        %td  
        %td= f.label :first_form, '一人称'
        %td.formText= text_field_tag :first_form, @first_form
      %tr
        %td  
        %td= f.label :second_form, '二人称'
        %td.formText= text_field_tag :second_form, @second_form
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@profiles)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :nickname, '愛称', default_order: :desc)
      %th= sort_link(@search, :tone, '口調', default_order: :desc)
      %th= sort_link(@search, :first, '一人称', default_order: :desc)
      %th= sort_link(@search, :second, '二人称', default_order: :desc)
      %th{colspan:"2"}
        結果リンク
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= profile.result_no
        %td= p_name_text(profile.e_no, profile.p_name)
        %td= profile.nickname
        %td= profile.tone_name.name if profile.tone_name
        %td= profile.first
        %td= profile.second
        %td
          = character_link(profile.e_no)
        %td
          = character_old_link(@last_result, profile.e_no, profile.result_no)
= paginate(@profiles)
