- @page_title = "潜在・属性・専門一覧"
%h1= @page_title

.bs-component
  %ul.breadcrumb{style: "margin-bottom: 5px;"}
    %li 潜在・属性・専門一覧
    %li= link_to "潜在・属性・専門グラフ", pgws_graph_path

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search, url: profile_pgws_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td  
        %td= f.label :potential1_form, '潜在1'
        %td.formText= text_field_tag :potential1_form, @potential1_form
        %td= f.label :potential2_form, '潜在2'
        %td.formText= text_field_tag :potential2_form, @potential2_form
      %tr
        %td  
        %td= f.label :good1_form, 'Good1'
        %td.formText= text_field_tag :good1_form, @good1_form
        %td= f.label :good2_form, 'Good2'
        %td.formText= text_field_tag :good2_form, @good2_form
      %tr
        %td  
        %td= f.label :weak1_form, 'Weak1'
        %td.formText= text_field_tag :weak1_form, @weak1_form
        %td= f.label :weak2_form, 'Weak2'
        %td.formText= text_field_tag :weak2_form, @weak2_form
      %tr
        %td  
        %td= f.label :speciality1_form, '専門1'
        %td.formText= text_field_tag :speciality1_form, @speciality1_form
        %td= f.label :speciality2_form, '専門2'
        %td.formText= text_field_tag :speciality2_form, @speciality2_form
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@profiles)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :potential1_pgws_name_name, '潜在1', default_order: :desc)
      %th= sort_link(@search, :potential2_pgws_name_name, '潜在2', default_order: :desc)
      %th= sort_link(@search, :good1_pgws_name_name, 'Good1', default_order: :desc)
      %th= sort_link(@search, :good2_pgws_name_name, 'Good2', default_order: :desc)
      %th= sort_link(@search, :weak1_pgws_name_name, 'Weak1', default_order: :desc)
      %th= sort_link(@search, :weak2_pgws_name_name, 'Weak2', default_order: :desc)
      %th= sort_link(@search, :speciality1_pgws_name_name, '専門1', default_order: :desc)
      %th= sort_link(@search, :speciality2_pgws_name_name, '専門2', default_order: :desc)
      %th{colspan:"2"}
        結果リンク
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= profile.result_no
        %td= profile.p_name.name.html_safe + "(" + sprintf("%d", profile.e_no) + ")"
        %td= profile.potential1.pgws_name.name if profile.potential1
        %td= profile.potential2.pgws_name.name if profile.potential2
        %td= profile.good1.pgws_name.name if profile.good1
        %td= profile.good2.pgws_name.name if profile.good2
        %td= profile.weak1.pgws_name.name if profile.weak1
        %td= profile.weak2.pgws_name.name if profile.weak2
        %td= profile.speciality1.pgws_name.name if profile.speciality1
        %td= profile.speciality2.pgws_name.name if profile.speciality2
        %td
          - file_name = sprintf("%d",profile.e_no)
          = link_to " 結果", "http://ykamiya.ciao.jp/result/result_chara/result_Eno"+file_name+".html", :target => "_blank"
        %td
          - if profile.result_no < @last_result
            - result_no_text = sprintf("%d",profile.result_no)
            = link_to " 過去結果", "http://ykamiya.ciao.jp/result"+result_no_text+"/result_chara/result_Eno"+file_name+".html", :target => "_blank"
= paginate(@profiles)
