- @page_title = "新出使用アイテム一覧"
%h1= @page_title

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :name_form, 'アイテム名'
        %td.formText= text_field_tag :name_form, @name_form
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}= f.submit '検索する'


= paginate(@new_item_uses)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :name, 'Name', default_order: :desc)
      %th リンク
  %tbody
    - @new_item_uses.each do |new_item_use|
      %tr
        %td= new_item_use.result_no
        %td= new_item_use.name
        %td
          = link_to "使用アイテム一覧", item_uses_path + "?result_no_form=" + sprintf("%d", new_item_use.result_no) + "&name_form=\"" + new_item_use.name + "\""
= paginate(@new_item_uses)
