- @page_title = "対戦パラメータ一覧"
%h1= @page_title

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td  
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td  
        %td= f.label :lv_form, 'Lv'
        %td.formNum= text_field_tag :lv_form, @lv_form
      %tr
        %td  
        %td= f.label :rank_form, 'Rank'
        %td.formNum= text_field_tag :rank_form, @rank_form
      %tr
        %td  
        %td= f.label :exp_form, 'EXP'
        %td.formNum= text_field_tag :exp_form, @exp_form
      %tr
        %td  
        %td= f.label :next_form, 'NEXT'
        %td.formNum= text_field_tag :next_form, @next_form
      %tr
        %td  
        %td= f.label :mlp_form, 'MLP'
        %td.formNum= text_field_tag :mlp_form, @mlp_form
      %tr
        %td  
        %td= f.label :mfp_form, 'MFP'
        %td.formNum= text_field_tag :mfp_form, @mfp_form
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@parameter_fights)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :lv, 'Lv', default_order: :desc)
      %th= sort_link(@search, :rank, 'Rank', default_order: :desc)
      %th= sort_link(@search, :exp, 'EXP', default_order: :desc)
      %th= sort_link(@search, :next, 'NEXT', default_order: :desc)
      %th= sort_link(@search, :mlp, 'MLP', default_order: :desc)
      %th= sort_link(@search, :mfp, 'MFP', default_order: :desc)
      %th{colspan:"2"}
        結果リンク
  %tbody
    - @parameter_fights.each do |parameter_fight|
      %tr
        %td= parameter_fight.result_no
        %td= p_name_text(parameter_fight.e_no, parameter_fight.p_name)
        %td= parameter_fight.lv
        %td= parameter_fight.rank
        %td= parameter_fight.exp
        %td= parameter_fight.next
        %td= parameter_fight.mlp
        %td= parameter_fight.mfp
        %td
          = character_link(parameter_fight.e_no)
        %td
          = character_old_link(@last_result, parameter_fight.e_no, parameter_fight.result_no)
= paginate(@parameter_fights)
