- @page_title = "開拓戦勝敗一覧"
%h1= @page_title

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{:colspan => "4"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td= f.label :result_no_form, '更新回'
        %td.formNum{:colspan => "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td= f.label :bellicose_form, '好戦度'
        %td.formNum= text_field_tag :bellicose_form, @bellicose_form
        %td= f.label :party_num_form, 'パーティ人数'
        %td.formNum= text_field_tag :party_num_form, @party_num_form
      %tr
        %td= f.label :invation_col_form, '侵攻列'
        %td.formText= text_field_tag :invation_col_form, @invation_col_form
        %td= f.label :invation_lv_form, '侵攻Lv'
        %td.formNum= text_field_tag :invation_lv_form, @invation_lv_form
      %tr
        %td= f.label :day_form, 'Day'
        %td.formNum{:colspan => "3"}= text_field_tag :day_form, @day_form
      %tr
        %td= f.label :development_result_form, '勝敗'
        %td{:colspan => "3"}
          = check_box_tag :result_win, @result_win, @result_win
          = label_tag :result_win, '勝利'
          　　
          = check_box_tag :result_draw, @result_draw, @result_draw
          = label_tag :result_draw, '引分'
          　　
          = check_box_tag :result_lose, @result_lose, @result_lose
          = label_tag :result_lose, '敗北'
          　　
      %tr
        %td= hidden_field_tag :is_form, 1
        %td{:colspan => "3"}= f.submit '検索する'


= paginate(@development_results)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :place_invation_col, '侵攻列', default_order: :desc)
      %th= sort_link(@search, :place_invation_lv, '侵攻Lv', default_order: :desc)
      %th= sort_link(@search, :bellicose, '好戦度', default_order: :desc)
      %th= sort_link(@search, :party_num, 'PT人数', default_order: :desc)
      %th= sort_link(@search, :development_result, '勝敗', default_order: :desc)
      %th= sort_link(@search, :parameter_control_day, 'Day', default_order: :desc)
      %th{:colspan =>"2"}
        結果リンク
  %tbody
    - @development_results.each do |development_result|
      %tr
        %td= development_result.result_no
        %td= development_result.p_name.name.html_safe + "(" + sprintf("%d", development_result.e_no) + ")"
        %td{:colspan => "2", :style => "text-align: center;"}
          = development_result.place.invation_col
          = "-" if development_result.place.invation_lv > 0
          = development_result.place.invation_lv if development_result.place.invation_lv > 0
        %td= development_result.bellicose
        %td= development_result.party_num
        %td
          = "勝利" if development_result.development_result == 1
          = "引分" if development_result.development_result == 0
          = "敗北" if development_result.development_result == -1
          = "？" if development_result.development_result == -2
        %td= development_result.parameter_control.day if development_result.parameter_control
        %td
          = character_link(development_result.e_no)
        %td
          = character_old_link(@last_result, development_result.e_no, development_result.result_no)
= paginate(@development_results)
