- @page_title = "開拓戦勝率"
%h1= @page_title

.card.desc
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search, url: development_result_win_per_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :invation_lv_form, '侵攻Lv'
        %td.formNum= text_field_tag :invation_lv_form, @invation_lv_form
        %td= f.label :party_num_form, 'パーティ人数'
        %td.formNum= text_field_tag :party_num_form, @party_num_form
      %tr
        %td  
        %td= f.label :bellicose_form, '好戦度'
        %td.formNum= text_field_tag :bellicose_form, @bellicose_form
        %td= f.label :day_form, 'Day'
        %td.formNum= text_field_tag :day_form, @day_form
      %tr
        %td  
        %td
        %td{colspan: "3"}
          = check_box_tag :split_bellicose, @split_bellicose, @split_bellicose
          = label_tag :split_bellicose, '好戦度で分けて集計する'
          　　
          = check_box_tag :split_party_num, @split_party_num, @split_party_num
          = label_tag :split_party_num, 'PT人数で分けて集計する'
      %tr
        %td  
        %td
        %td{colspan: "3"}
          = check_box_tag :split_invation_lv, @split_invation_lv, @split_invation_lv
          = label_tag :split_invation_lv, '侵攻Lvで分けて集計する'
          　　
          = check_box_tag :split_day, @split_day, @split_day
          = label_tag :split_day, 'Dayで分けて集計する'
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      -if params["split_invation_lv"] == "on"
        %th= sort_link(@search, :place_invation_lv, '侵攻Lv', default_order: :desc)
      -if params["split_party_num"] == "on"
        %th= sort_link(@search, :party_num, 'PT人数', default_order: :desc)
      -if params["split_bellicose"] == "on"
        %th= sort_link(@search, :bellicose, '好戦度', default_order: :desc)
      -if params["split_day"] == "on"
        %th= sort_link(@search, :parameter_control_day, 'Day', default_order: :desc)
      %th= "侵攻数"
      %th= "勝利"
      %th= "引分"
      %th= "敗北"
      %th= "勝率"
  %tbody
    - @all.each do |development_result|
      %tr
        %td= development_result.min_result_no == development_result.max_result_no ? development_result.max_result_no : sprintf("%d", development_result.min_result_no) + "～" + sprintf("%d", development_result.max_result_no)
        -if params["split_invation_lv"] == "on"
          %td= "全体"
        -if params["split_party_num"] == "on"
          %td
        -if params["split_bellicose"] == "on"
          %td
        -if params["split_day"] == "on"
          %td 
        %td= development_result.count if development_result.respond_to?(:count)
        %td= development_result.win if development_result.respond_to?(:win)
        %td= development_result.draw if development_result.respond_to?(:draw)
        %td= development_result.lose if development_result.respond_to?(:lose)
        %td
          - if development_result.respond_to?(:win_per)
            = sprintf("%.0f", development_result.win_per * 100) + "％" if development_result.win_per
    - @development_results.each do |development_result|
      %tr
        %td= development_result.min_result_no == development_result.max_result_no ? development_result.max_result_no : sprintf("%d", development_result.min_result_no) + "～" + sprintf("%d", development_result.max_result_no)
        -if params["split_invation_lv"] == "on"
          %td= development_result.place.invation_lv if development_result.place
        -if params["split_party_num"] == "on"
          %td= development_result.party_num
        -if params["split_bellicose"] == "on"
          %td= development_result.bellicose
        -if params["split_day"] == "on"
          %td= development_result.parameter_control.day if development_result.parameter_control
        %td= development_result.count if development_result.respond_to?(:count)
        %td= development_result.win if development_result.respond_to?(:win)
        %td= development_result.draw if development_result.respond_to?(:draw)
        %td= development_result.lose if development_result.respond_to?(:lose)
        %td
          - if development_result.respond_to?(:win_per)
            = sprintf("%.0f", development_result.win_per * 100) + "％" if development_result.win_per
