- @page_title = "最大連鎖数ランキング"
%h1= @page_title

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :battle_page_form, '模擬戦名　(X VS X)'
        %td.formText= text_field_tag :battle_page_form, @battle_page_form
        %td= f.label :party_form, '発動パーティ'
        %td.formNum= text_field_tag :party_form, @party_form
      %tr
        %td  
        %td= f.label :max_chain_form, '最大連鎖数'
        %td.formNum{colspan: "3"}= text_field_tag :max_chain_form, @max_chain_form
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}= f.submit '検索する'


= paginate(@max_chains)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :battle_page, '模擬戦', default_order: :desc)
      %th= sort_link(@search, :party, 'PT', default_order: :desc)
      %th= sort_link(@search, :max_chain, '最大連鎖数', default_order: :desc)
      %th{colspan:"2"} 模擬戦リンク
  %tbody
    - @max_chains.each do |max_chain|
      %tr
        %td= max_chain.result_no
        %td= max_chain.battle_page
        %td= max_chain.party
        %td= max_chain.max_chain
        %td= battle_link(@last_result, max_chain.battle_page, max_chain.result_no)
        %td= battle_old_link(@last_result, max_chain.battle_page, max_chain.result_no)
= paginate(@max_chains)
