- @page_title = "ダイス目一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td.indent
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td.indent
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td.indent
        %td= f.label :number_form, '○回目'
        %td.formNum= text_field_tag :number_form, @number_form
      %tr
        %td.indent
        %td= f.label :dice_form, 'ダイス目'
        %td.formNum= text_field_tag :dice_form, @dice_form
      %tr
        %td.indent
        %td= f.label :use_item_form, '確歩カード'
        %td
          = check_box_tag :use_card, @use_card, @use_card
          = label_tag :use_card, '使用'
          　
          = check_box_tag :no_item, @no_item, @no_item
          = label_tag :no_item, '使用しない'
      %tr
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@dices)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :number, '回目', default_order: :desc)
      %th= sort_link(@search, :dice, 'ダイス目', default_order: :desc)
      %th= sort_link(@search, :use_item, '確歩', default_order: :desc)
      %th{colspan: "2"} 結果リンク
  %tbody
    - @dices.each do |dice|
      %tr
        %td= dice.result_no
        %td= p_name_text(dice.e_no, dice.p_name)
        %td= dice.number
        %td
          = dice.dice if dice.dice > 0
          = "休"      if dice.dice == 0
        %td.td-sign= "○" if dice.use_item > 0
        %td= character_link(dice.e_no)
        %td= character_old_link(@latest_result, dice.e_no, dice.result_no)
= paginate(@dices)
