- @page_title = "ダメージ・回復一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent.indent
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
    %tbody
      %tr.sep
        %td.indent
        %td= f.label :effect_form, 'カード効果'
        %td.formText= text_field_tag :effect_form, @effect_form
        %td= f.label :lv_form, 'Lv'
        %td.formNum= text_field_tag :lv_form, @lv_form
      %tr
        %td.indent
        %td= f.label :chain_form, 'Chain'
        %td.formNum{colspan: "3"}= text_field_tag :chain_form, @chain_form
    %tbody
      %tr.sep
        %td.indent
        %td= f.label :act_type_form, '行動種別'
        %td{colspan: "3"}
          %span.input
            = check_box_tag :act_type_damage, @act_type_damage, @act_type_damage
            = label_tag :act_type_damage, 'ダメージ'
          %span.input
            = check_box_tag :act_type_fp_damage, @act_type_fp_damage, @act_type_fp_damage
            = label_tag :act_type_fp_damage, 'FPダメージ'
          %br
          %span.input
            = check_box_tag :act_type_lp_heal, @act_type_lp_heal, @act_type_lp_heal
            = label_tag :act_type_lp_heal, 'LP回復'
          %span.input
            = check_box_tag :act_type_fp_heal, @act_type_fp_heal, @act_type_fp_heal
            = label_tag :act_type_fp_heal, 'FP回復'
      %tr
        %td.indent
        %td= f.label :damage_form, '効果量'
        %td.formNum{colspan: "3"}= text_field_tag :damage_form, @damage_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_element, @show_detail_element
          - act_icon(false)
          = label_tag :show_detail_element, '　攻撃属性を表示する', class: "act_desc"
          = label_tag :show_detail_element, '　攻撃属性を表示しない', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :element_form, '属性'
        %td.formText{colspan: "3"}= text_field_tag :element_form, @element_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_battle_page, @show_detail_battle_page
          - act_icon(false)
          = label_tag :show_detail_card, '　模擬戦名で絞り込む', class: "act_desc"
          = label_tag :show_detail_card, '　模擬戦名で絞り込みを隠す', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :battle_page_form, '模擬戦名　(X VS X)'
        %td.formText{colspan: "3"}= text_field_tag :battle_page_form, @battle_page_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_target, @show_detail_target
          - act_icon(false)
          = label_tag :show_detail_card, '　使用者で絞り込む', class: "act_desc"
          = label_tag :show_detail_card, '　使用者で絞り込みを隠す', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_target, @show_detail_target
          - act_icon(false)
          = label_tag :show_detail_card, '　対象キャラクターを表示する', class: "act_desc"
          = label_tag :show_detail_card, '　対象キャラクターを表示しない', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :target_e_no_form, '対象Eno'
        %td.formNum= text_field_tag :target_e_no_form, @target_e_no_form
        %td= f.label :p_name_form, '対象キャラクター名'
        %td.formText= text_field_tag :target_p_name_form, @target_p_name_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_characteristic, @show_detail_characteristic
          - act_icon(false)
          = label_tag :show_detail_card, '　使用者の特性(腕力など)を表示する', class: "act_desc"
          = label_tag :show_detail_card, '　使用者の特性を表示しない', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :str_form, '腕力'
        %td.formNum= text_field_tag :str_form, @str_form
        %td= f.label :vit_form, '体力'
        %td.formNum= text_field_tag :vit_form, @vit_form
      %tr
        %td.indent
        %td= f.label :int_form, '理力'
        %td.formNum= text_field_tag :int_form, @int_form
        %td= f.label :mnd_form, '精神'
        %td.formNum= text_field_tag :mnd_form, @mnd_form
      %tr
        %td.indent
        %td= f.label :tec_form, '器用'
        %td.formNum= text_field_tag :tec_form, @tec_form
        %td= f.label :eva_form, '敏捷'
        %td.formNum= text_field_tag :eva_form, @eva_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_target_characteristic, @show_detail_target_characteristic
          - act_icon(false)
          = label_tag :show_detail_card, '　対象の特性(腕力など)を表示する', class: "act_desc"
          = label_tag :show_detail_card, '　対象の特性を表示しない', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :target_str_form, '腕力'
        %td.formNum= text_field_tag :target_str_form, @target_str_form
        %td= f.label :target_vit_form, '体力'
        %td.formNum= text_field_tag :target_vit_form, @target_vit_form
      %tr
        %td.indent
        %td= f.label :target_int_form, '理力'
        %td.formNum= text_field_tag :target_int_form, @target_int_form
        %td= f.label :target_mnd_form, '精神'
        %td.formNum= text_field_tag :target_mnd_form, @target_mnd_form
      %tr
        %td.indent
        %td= f.label :target_tec_form, '器用'
        %td.formNum= text_field_tag :target_tec_form, @target_tec_form
        %td= f.label :target_eva_form, '敏捷'
        %td.formNum= text_field_tag :target_eva_form, @target_eva_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_parameter_development, @show_detail_parameter_development
          - act_icon(false)
          = label_tag :show_detail_parameter_development, '　発動者・対象のRankを表示する', class: "act_desc"
          = label_tag :show_detail_parameter_development, '　Rankを表示しない', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :rank_form, '発動者Rank'
        %td.formNum= text_field_tag :rank_form, @rank_form
        %td= f.label :target_rank_form, '対象Rank'
        %td.formNum= text_field_tag :target_rank_form, @target_rank_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_party, @show_detail_party
          - act_icon(false)
          = label_tag :show_detail_card, '　発動時パーティ人数を表示する', class: "act_desc"
          = label_tag :show_detail_card, '　発動時パーティ人数を表示しない', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :party_num_form, '使用者パーティ人数'
        %td.formNum= text_field_tag :party_num_form, @party_num_form
        %td= f.label :party_num_form, '対象パーティ人数'
        %td.formNum= text_field_tag :target_party_num_form, @target_party_num_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_line, @show_detail_line
          - act_icon(false)
          = label_tag :show_detail_line, '　発動者・対象の隊列を表示する', class: "act_desc"
          = label_tag :show_detail_line, '　隊列を表示しない', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :rank_form, '隊列'
        %td
          = check_box_tag :line_front, @line_front, @line_front
          = label_tag :line_front, '前'
          　
          = check_box_tag :line_middle, @line_middle, @line_middle
          = label_tag :line_middle, '中'
          　
          = check_box_tag :line_back, @line_back, @line_back
          = label_tag :line_back, '後'
        %td= f.label :target_rank_form, '対象隊列'
        %td
          = check_box_tag :target_line_front, @target_line_front, @target_line_front
          = label_tag :target_line_front, '前'
          　
          = check_box_tag :target_line_middle, @target_line_middle, @target_line_middle
          = label_tag :target_line_middle, '中'
          　
          = check_box_tag :target_line_back, @target_line_back, @target_line_back
          = label_tag :target_line_back, '後'
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_damage_option, @show_detail_damage_option
          - act_icon(false)
          = label_tag :show_detail_card, '　Criticalなどの有無を表示する', class: "act_desc"
          = label_tag :show_detail_card, '　Criticalなどの有無を表示しない', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :act_type_form, 'ヒット時効果'
        %td{colspan: "3"}
          %span.input
            = check_box_tag :is_weak, @is_weak, @is_weak
            = label_tag :is_weak, 'WeakPoint'
          %span.input
            = check_box_tag :is_critical, @is_critical, @is_critical
            = label_tag :is_critical, 'Critical'
          %span.input
            = check_box_tag :is_clean, @is_clean, @is_clean
            = label_tag :is_clean, 'Clean Hit'
          %br
          %span.input
            = check_box_tag :is_vanish, @is_vanish, @is_vanish
            = label_tag :is_vanish, 'Vanish(耐○○の効果) '
          %span.input
            = check_box_tag :is_absorb, @is_absorb, @is_absorb
            = label_tag :is_absorb, 'Absorb(吸○○の効果)'
      %tr
        %td.indent
        %td= f.label :act_type_form, 'ヒット時効果（除外）'
        %td{colspan: "3"}
          %span.input
            = check_box_tag :no_weak, @no_weak, @no_weak
            = label_tag :no_weak, '× WeakPoint'
          %span.input
            = check_box_tag :no_critical, @no_critical, @no_critical
            = label_tag :no_critical, '× Critical'
          %span.input
            = check_box_tag :no_clean, @no_clean, @no_clean
            = label_tag :no_clean, '× Clean Hit'
          %br
          %span.input
            = check_box_tag :no_vanish, @no_vanish, @no_vanish
            = label_tag :no_vanish, '× Vanish(耐○○の効果) '
          %span.input
            = check_box_tag :no_absorb, @no_absorb, @no_absorb
            = label_tag :no_absorb, '× Absorb(吸○○の効果)'
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_dodge, @show_detail_dodge
          - act_icon(false)
          = label_tag :show_detail_dodge, '　回避された攻撃を表示する', class: "act_desc"
          = label_tag :show_detail_dodge, '　回避された攻撃を表示しない', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td
        %td{colspan: "3"}
          %span.input
            = check_box_tag :only_dodge, @only_dodge, @only_dodge
            = label_tag :only_dodge, '回避のみ表示'
    %tbody
      %tr
      %tr
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button

= paginate(@damages)
%br
ヒット数：#{ @count }件
%br
%br
%p
  %span.example_select.example_toggle.pointer
    = fa_icon "calculator"
    　最大、平均、命中率など
    - act_desc(false)
#test.closed
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %th 行動
      %th 回数
      %th 合計
      %th 最大
      %th 最低
      %th 平均
      %th 命中
      %th 被回避
      %th 命中率
      %th 回避率
    %tbody
      - @statistics.each do |statistic|
        %tr
          %td= statistic.act_type_name.name if statistic.act_type_name
          %td= statistic.count
          %td= statistic.sum
          %td= statistic.max
          %td= statistic.min
          %td= statistic.avg.floor(1)
          %td= statistic.hit
          %td= statistic.dodge
          %td= sprintf("%.0f％", statistic.hit.to_f / (statistic.hit + statistic.dodge).to_f * 100)
          %td= sprintf("%.0f％", (1.to_f -  (statistic.hit.to_f / (statistic.hit + statistic.dodge).to_f)) * 100)

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th.sep= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th.sep= sort_link(@search, :battle_page, '模擬戦', default_order: :desc)
      - if @show_detail_characteristic == "1"
        %th.sep= sort_link(@search, :characteristic_str, '腕力', default_order: :desc)
        %th= sort_link(@search, :characteristic_vit, '体力', default_order: :desc)
        %th= sort_link(@search, :characteristic_int, '理力', default_order: :desc)
        %th= sort_link(@search, :characteristic_mnd, '精神', default_order: :desc)
        %th= sort_link(@search, :characteristic_tec, '器用', default_order: :desc)
        %th= sort_link(@search, :characteristic_eva, '敏捷', default_order: :desc)
      - if @show_detail_party == "1"
        %th.sep= sort_link(@search, :party_num, '使用者PT人数', default_order: :desc)
        %th= sort_link(@search, :target_party_num, '対象PT人数', default_order: :desc)
      - if @show_detail_line == "1"
        %th.sep= sort_link(@search, :line, '隊列', default_order: :desc)
        %th= sort_link(@search, :target_line, '対象隊列', default_order: :desc)
      - if @show_detail_parameter_development == "1"
        %th.sep= sort_link(@search, :parameter_development_rank, 'Rank', default_order: :desc)
        %th.sep= sort_link(@search, :target_parameter_development_rank, '対象Rank', default_order: :desc)
      %th.sep= sort_link(@search, :card_data_name, 'カード効果', default_order: :desc)
      %th= sort_link(@search, :card_data_lv, 'Lv', default_order: :desc)
      %th= sort_link(@search, :chain, 'Chain', default_order: :desc)
      - if @show_detail_element == "1"
        %th.sep= sort_link(@search, :element, '属性', default_order: :desc)
      - if @show_detail_target == "1"
        %th.sep= sort_link(@search, :target_e_no, '対象キャラクター(Eno)', default_order: :desc)
      - if @show_detail_target_characteristic == "1"
        %th.sep= sort_link(@search, :target_characteristic_str, '対象腕力', default_order: :desc)
        %th= sort_link(@search, :target_characteristic_vit, '対象体力', default_order: :desc)
        %th= sort_link(@search, :target_characteristic_int, '対象理力', default_order: :desc)
        %th= sort_link(@search, :target_characteristic_mnd, '対象精神', default_order: :desc)
        %th= sort_link(@search, :target_characteristic_tec, '対象器用', default_order: :desc)
        %th= sort_link(@search, :target_characteristic_eva, '対象敏捷', default_order: :desc)
      %th.sep= sort_link(@search, :act_type, '行動', default_order: :desc)
      %th= sort_link(@search, :damage, '効果量', default_order: :desc)
      - if @show_detail_damage_option == "1"
        %th.sep= sort_link(@search, :is_weak, 'Weak', default_order: :desc)
        %th= sort_link(@search, :is_critical, 'Critical', default_order: :desc)
        %th= sort_link(@search, :is_clean, 'Clean', default_order: :desc)
        %th= sort_link(@search, :is_vanish, 'Vanish', default_order: :desc)
        %th= sort_link(@search, :is_absorb, 'Absorb', default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
      %th{colspan: "2"} 模擬戦結果
  %tbody
    - @damages.each do |damage|
      %tr
        %td= damage.result_no
        %td.sep= p_name_text(damage.e_no, damage.p_name)
        %td.sep= damage.battle_page
        - if @show_detail_characteristic == "1"
          %td.sep= damage.characteristic.str if damage.characteristic
          %td= damage.characteristic.vit if damage.characteristic
          %td= damage.characteristic.int if damage.characteristic
          %td= damage.characteristic.mnd if damage.characteristic
          %td= damage.characteristic.tec if damage.characteristic
          %td= damage.characteristic.eva if damage.characteristic
        - if @show_detail_party == "1"
          %td.sep= damage.party_num
          %td= damage.target_party_num
        - if @show_detail_line == "1"
          %td.sep= showLine(damage.line)
          %td= showLine(damage.target_line)
        - if @show_detail_parameter_development == "1"
          %td.sep= damage.parameter_development.rank if damage.parameter_development
          %td.sep= damage.target_parameter_development.rank if damage.target_parameter_development
        %td.sep= damage.card_data.name if damage.card_data
        %td= damage.card_data.lv if damage.card_data
        %td= damage.chain
        - if @show_detail_element == "1"
          %td.sep= damage.element_name.name if damage.element_name
        - if @show_detail_target == "1"
          %td.sep= p_name_text(damage.target_e_no, damage.target_p_name)
        - if @show_detail_target_characteristic == "1"
          %td.sep= damage.target_characteristic.str if damage.target_characteristic
          %td= damage.target_characteristic.vit if damage.target_characteristic
          %td= damage.target_characteristic.int if damage.target_characteristic
          %td= damage.target_characteristic.mnd if damage.target_characteristic
          %td= damage.target_characteristic.tec if damage.target_characteristic
          %td= damage.target_characteristic.eva if damage.target_characteristic
        %td.sep= damage.act_type_name.name if damage.act_type_name
        %td
          = damage.damage if damage.damage >= 0
          = "回避" if damage.damage < 0
        - if @show_detail_damage_option == "1"
          %td.sep= showPreDamage(damage.is_weak)
          %td= showPreDamage(damage.is_critical)
          %td= showPreDamage(damage.is_clean)
          %td= showPreDamage(damage.is_vanish)
          %td= showPreDamage(damage.is_absorb)
        %td.sep= character_link(damage.e_no)
        %td= character_old_link(@latest_result, damage.e_no, damage.result_no)
        %td= battle_link(@latest_result, damage.battle_page, damage.result_no)
        %td= battle_old_link(@latest_result, damage.battle_page, damage.result_no)
= paginate(@damages)
