- @page_title = "ダメージ・回復一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    
    - #==========================================================================================================================
    %tbody
      %tr
      %tr
        %td.indent.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "更新回", params_name: "result_no_form", placeholder: "Number", colspan: 3)
    %tbody
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "カード効果", params_name: "effect_form", placeholder: "Card")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "Lv", params_name: "lv_form", placeholder: "Number")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "Chain", params_name: "chain_form", colspan: 3)
    %tbody
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "行動種別", params_name: "act_type_form", colspan: 3,
                    checkboxes: [{label: "ダメージ",   params_name: "act_type_damage",    class_name: "after_space mobile_br"},
                                 {label: "FPダメージ", params_name: "act_type_fp_damage", class_name: "after_space mobile_br", br: true},
                                 {label: "LP回復",     params_name: "act_type_lp_heal",   class_name: "after_space mobile_br"},
                                 {label: "FP回復",     params_name: "act_type_fp_heal",   class_name: "after_space mobile_br"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "効果量", params_name: "damage_form", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_element", base_first: false,
                    label: {open: "攻撃属性を表示する", close: "攻撃属性を表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "属性", params_name: "element_form", colspan: 3)
    
    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_battle_page", base_first: false,
                    label: {open: "模擬戦名で絞り込む", close: "模擬戦名で絞り込みを隠す"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "模擬戦名", params_name: "battle_page_form", placeholder: "BattlePage", colspan:3)
    
    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_turn", base_first: false,
                    label: {open: "ターン数を表示する", close: "ターン数を表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "ターン数", params_name: "turn_form", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_user", base_first: false,
                    label: {open: "使用者で絞り込む", close: "使用者で絞り込みを隠す"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "p_name_form")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_target", base_first: false,
                    label: {open: "対象キャラクターを表示する", close: "対象キャラクターを表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "対象Eno", params_name: "target_e_no_form")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "対象キャラクター名", params_name: "target_p_name_form")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_characteristic", base_first: false,
                    label: {open: "使用者の特性を表示する", close: "使用者の特性を表示しない"},
                    act_desc: "腕力、体力、理力、精神、器用、敏捷")
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "腕力", params_name: "str_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "体力", params_name: "vit_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "理力", params_name: "int_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "精神", params_name: "mnd_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "器用", params_name: "tec_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "敏捷", params_name: "eva_form")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_target_characteristic", base_first: false,
                    label: {open: "対象の特性を表示する", close: "対象の特性を表示しない"},
                    act_desc: "腕力、体力、理力、精神、器用、敏捷")
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "腕力", params_name: "target_str_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "体力", params_name: "target_vit_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "理力", params_name: "target_int_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "精神", params_name: "target_mnd_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "器用", params_name: "target_tec_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "敏捷", params_name: "target_eva_form")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_parameter_development", base_first: false,
                    label: {open: "発動者・対象のRankを表示する", close: "Rankを表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "発動者Rank", params_name: "rank_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "対象Rank", params_name: "target_rank_form")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_party", base_first: false,
                    label: {open: "発動時パーティ人数を表示する", close: "発動時パーティ人数を表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "発動者パーティ人数", params_name: "party_num_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "対象パーティ人数", params_name: "target_party_num_form")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_line", base_first: false,
                    label: {open: "発動者・対象の隊列を表示する", close: "隊列を表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "隊列", params_name: "act_type_form",
                    checkboxes: [{label: "前", params_name: "line_front",  class_name: "after_space"},
                                 {label: "中", params_name: "line_middle", class_name: "after_space"},
                                 {label: "後", params_name: "line_back",   class_name: "after_space"}])
        - td_form(f, @form_params, @placeholder, label: "対象隊列", params_name: "act_type_form",
                    checkboxes: [{label: "前", params_name: "target_line_front",  class_name: "after_space"},
                                 {label: "中", params_name: "target_line_middle", class_name: "after_space"},
                                 {label: "後", params_name: "target_line_back",   class_name: "after_space"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_damage_option", base_first: false,
                    label: {open: "ヒット時効果の有無を表示する", close: "ヒット時効果の有無を表示しない"},
                    act_desc: "　WeakPoint、Critical、Clean Hit")
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "ヒット時効果", params_name: "act_type_form", colspan: 3,
                    checkboxes: [{label: "WeakPoint", params_name: "is_weak",     class_name: "after_space mobile_br"},
                                 {label: "Critical",  params_name: "is_critical", class_name: "after_space mobile_br"},
                                 {label: "Clean Hit", params_name: "is_clean",    class_name: "after_space mobile_br"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "ヒット時効果（除外）", params_name: "act_type_form", colspan: 3,
                    checkboxes: [{label: "× WeakPoint", params_name: "no_weak",     class_name: "after_space mobile_br"},
                                 {label: "× Critical",  params_name: "no_critical", class_name: "after_space mobile_br"},
                                 {label: "× Clean Hit", params_name: "no_clean",    class_name: "after_space mobile_br"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_card_option", base_first: false,
                    label: {open: "カード効果の有無を表示する", close: "カード効果の有無を表示しない"},
                    act_desc: "Vanish、Absorb、Revenge、Time Penalty、To the Fallen")
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "カード効果", params_name: "act_type_form", colspan: 3,
                    checkboxes: [{label: "Vanish(耐○○の効果)",          params_name: "is_vanish",        class_name: "after_space mobile_br"},
                                 {label: "Absorb(吸○○の効果)",          params_name: "is_absorb",        class_name: "after_space mobile_br"},
                                 {label: "Revenge(応○○の効果)",         params_name: "is_revenge",       class_name: "after_space mobile_br", br: true},
                                 {label: "Time Penalty(時傷○○の効果)",  params_name: "is_time_penalty",  class_name: "after_space mobile_br"},
                                 {label: "To the Fallen(命傷○○の効果)", params_name: "is_to_the_fallen", class_name: "after_space mobile_br"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "カード効果（除外）", params_name: "act_type_form", colspan: 3,
                    checkboxes: [{label: "× Vanish(耐○○の効果)",          params_name: "no_vanish",        class_name: "after_space mobile_br"},
                                 {label: "× Absorb(吸○○の効果)",          params_name: "no_absorb",        class_name: "after_space mobile_br"},
                                 {label: "× Revenge(応○○の効果)",         params_name: "no_revenge",       class_name: "after_space mobile_br", br: true},
                                 {label: "× Time Penalty(時傷○○の効果)",  params_name: "no_time_penalty",  class_name: "after_space mobile_br"},
                                 {label: "× To the Fallen(命傷○○の効果)", params_name: "no_to_the_fallen", class_name: "after_space mobile_br"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_abnormal", base_first: false,
                    label: {open: "異常系状態変化を表示する", close: "異常系状態変化を表示しない"},
                    act_desc: "毒、麻痺、封殺、混乱、魅了")
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "猛毒Lv",   params_name: "poison_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "猛毒深度", params_name: "poison_value_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "猛毒なし", params_name: "no_poison"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "麻痺Lv",   params_name: "paralysis_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "麻痺深度", params_name: "paralysis_value_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "麻痺なし", params_name: "no_paralysis"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "封殺Lv",   params_name: "seal_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "封殺深度", params_name: "seal_value_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "封殺なし", params_name: "no_seal"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "混乱Lv",   params_name: "confusion_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "混乱深度", params_name: "confusion_value_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "混乱なし", params_name: "no_confusion"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "魅了Lv",   params_name: "charm_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "魅了深度", params_name: "charm_value_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "魅了なし", params_name: "no_charm"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_buffer", base_first: false,
                    label: {open: "能力系状態変化（強化・弱化）を表示する", close: "能力系状態変化（強化・弱化）を表示しない"},
                    act_desc: "物理攻力、物理防御、事象威力、事象抵抗、命中率、回避率、必殺率、被必殺制御率")
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "物理攻力変化Lv", params_name: "attack_buffer_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "保持力",       params_name: "attack_buffer_value_form")
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "物理攻力（物攻）", params_name: "attack_buffer_form", colspan: 3,
                    checkboxes: [{label: "強化", params_name: "buff_attack_buffer",   class_name: "after_space"},
                                 {label: "弱化", params_name: "debuff_attack_buffer", class_name: "after_space"},
                                 {label: "なし", params_name: "no_attack_buffer",     class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "物理防御変化Lv", params_name: "defence_buffer_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "保持力",       params_name: "defence_buffer_value_form")
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "物理防御（物防）", params_name: "defence_buffer_form", colspan: 3,
                    checkboxes: [{label: "強化", params_name: "buff_defence_buffer",   class_name: "after_space"},
                                 {label: "弱化", params_name: "debuff_defence_buffer", class_name: "after_space"},
                                 {label: "なし", params_name: "no_defence_buffer",     class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "事象威力変化Lv", params_name: "magic_buffer_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "保持力",       params_name: "magic_buffer_value_form")
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "事象威力（理力）", params_name: "magic_buffer_form", colspan: 3,
                    checkboxes: [{label: "強化", params_name: "buff_magic_buffer",   class_name: "after_space"},
                                 {label: "弱化", params_name: "debuff_magic_buffer", class_name: "after_space"},
                                 {label: "なし", params_name: "no_magic_buffer",     class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "事象抵抗変化Lv", params_name: "resist_buffer_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "保持力",       params_name: "resist_buffer_value_form")
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "事象抵抗（抵抗）", params_name: "resist_buffer_form", colspan: 3,
                    checkboxes: [{label: "強化", params_name: "buff_resist_buffer",   class_name: "after_space"},
                                 {label: "弱化", params_name: "debuff_resist_buffer", class_name: "after_space"},
                                 {label: "なし", params_name: "no_resist_buffer",     class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "命中率変化Lv", params_name: "hit_buffer_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "保持力",       params_name: "hit_buffer_value_form")
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "命中率", params_name: "hit_buffer_form", colspan: 3,
                    checkboxes: [{label: "強化", params_name: "buff_hit_buffer",   class_name: "after_space"},
                                 {label: "弱化", params_name: "debuff_hit_buffer", class_name: "after_space"},
                                 {label: "なし", params_name: "no_hit_buffer",     class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "回避率変化Lv", params_name: "dodge_buffer_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "保持力",       params_name: "dodge_buffer_value_form")
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "回避率", params_name: "dodge_buffer_form", colspan: 3,
                    checkboxes: [{label: "強化", params_name: "buff_dodge_buffer",   class_name: "after_space"},
                                 {label: "弱化", params_name: "debuff_dodge_buffer", class_name: "after_space"},
                                 {label: "なし", params_name: "no_dodge_buffer",     class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "必殺率変化Lv", params_name: "death_buffer_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "保持力",       params_name: "death_buffer_value_form")
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "必殺率", params_name: "death_buffer_form", colspan: 3,
                    checkboxes: [{label: "強化", params_name: "buff_death_buffer",   class_name: "after_space"},
                                 {label: "弱化", params_name: "debuff_death_buffer", class_name: "after_space"},
                                 {label: "なし", params_name: "no_death_buffer",     class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "被必殺制御率変化Lv", params_name: "control_buffer_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum", label: "保持力",       params_name: "control_buffer_value_form")
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label: "被必殺制御率（制御）", params_name: "control_buffer_form", colspan: 3,
                    checkboxes: [{label: "強化", params_name: "buff_control_buffer",   class_name: "after_space"},
                                 {label: "弱化", params_name: "debuff_control_buffer", class_name: "after_space"},
                                 {label: "なし", params_name: "no_control_buffer",     class_name: "after_space"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_reinforcement", base_first: false,
                    label: {open: "強化フィールド（〇〇領域の効果）を表示する", close: "強化フィールドを表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "強化フィールドLv", params_name: "reinforcement_lv_form")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "強化フィールド名", params_name: "reinforcement_name_form")
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "強化フィールドなし", params_name: "no_reinforcement", class_name: "after_space mobile_br"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_conversion", base_first: false,
                    label: {open: "変換フィールド（換〇〇の効果）を表示する", close: "変換フィールドを表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "変換フィールド名", params_name: "conversion_name_form", colspan: 3)
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "変換フィールドあり", params_name: "is_conversion", class_name: "after_space mobile_br"},
                                 {label: "変換フィールドなし", params_name: "no_conversion", class_name: "after_space mobile_br"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_chain_power", base_first: false,
                    label: {open: "鎖力の効果を表示する", close: "鎖力の効果を表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "鎖力強化率", params_name: "chain_power_value_form", colspan: 3)
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "鎖力なし", params_name: "no_chain_power", class_name: "after_space mobile_br"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_fp_type", base_first: false,
                    label: {open: "FPダメージのLPダメージ変換の有無を表示する", close: "FPダメージのLPダメージ変換の有無の効果を表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "完全FPダメージ", params_name: "all_fp_damage", class_name: "after_space mobile_br"},
                                 {label: "完全LPダメージ", params_name: "all_lp_damage", class_name: "after_space mobile_br"},
                                 {label: "FP+LPダメージ",  params_name: "lpfp_damage",   class_name: "after_space mobile_br"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_target_type", base_first: false,
                    label: {open: "味方対象・敵対象で絞り込む", close: "味方対象・敵対象による絞り込みを表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "味方対象のみ表示", params_name: "only_friend",  class_name: "after_space mobile_br"},
                                 {label: "敵対象のみ表示",   params_name: "only_enemy", class_name: "after_space mobile_br"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_dodge", base_first: false,
                    label: {open: "回避された攻撃を表示する", close: "回避された攻撃を表示しない"})
    %tbody.closed
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "回避のみ表示",   params_name: "only_dodge",  class_name: "after_space mobile_br"}])

    - #==========================================================================================================================
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, label_td_class_name: "indent", colspan: 3,
                    checkboxes: [{label: "統計を表示",   params_name: "show_statistics",  class_name: "after_space mobile_br"},
                                 {label: "グラフを表示", params_name: "show_graph", class_name: "after_space mobile_br"}])
      %tr
      %tr
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button

%br
ヒット数：#{ @count }件
%br
%br

- if @form_params["show_statistics"]
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %th 行動
      %th 回数
      %th 合計
      %th 最大
      %th 最低
      %th 平均
      %th 命中
      %th 被回避
      %th 命中率
      %th 回避率
    %tbody
      - @statistics.each do |statistic|
        %tr
          %td= statistic.act_type_name.name if statistic.act_type_name
          %td= statistic.count
          %td= statistic.sum
          %td= statistic.max
          %td= statistic.min
          %td= statistic.avg.floor(1) if statistic.avg
          %td= statistic.hit
          %td= statistic.dodge
          %td= sprintf("%.0f％", statistic.hit.to_f / (statistic.hit + statistic.dodge).to_f * 100)
          %td= sprintf("%.0f％", (1.to_f -  (statistic.hit.to_f / (statistic.hit + statistic.dodge).to_f)) * 100)
- if @form_params["show_graph"]
  = column_chart Damage.notnil().where_dodge(@form_params["show_detail_dodge"], @form_params["only_dodge"]).where_target_type(@form_params["only_friend"], @form_params["only_enemy"]).ransack(params[:q]).result.to_range_variable_min_graph(:damage), xtitle:"効果量", ytitle: "件数"
%br

= paginate(@damages)
%br
%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th.sep= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th.sep= sort_link(@search, :battle_page, '模擬戦', default_order: :desc)
      - if @form_params["show_detail_turn"] == "1"
        %th.sep= sort_link(@search, :turn, 'Turn', default_order: :desc)
      - if @form_params["show_detail_characteristic"] == "1"
        %th.sep= sort_link(@search, :characteristic_str, '腕力', default_order: :desc)
        %th= sort_link(@search, :characteristic_vit, '体力', default_order: :desc)
        %th= sort_link(@search, :characteristic_int, '理力', default_order: :desc)
        %th= sort_link(@search, :characteristic_mnd, '精神', default_order: :desc)
        %th= sort_link(@search, :characteristic_tec, '器用', default_order: :desc)
        %th= sort_link(@search, :characteristic_eva, '敏捷', default_order: :desc)
      - if @form_params["show_detail_party"] == "1"
        %th.sep= sort_link(@search, :party_num, '使用者PT人数', default_order: :desc)
        %th= sort_link(@search, :target_party_num, '対象PT人数', default_order: :desc)
      - if @form_params["show_detail_line"] == "1"
        %th.sep= sort_link(@search, :line, '隊列', default_order: :desc)
        %th= sort_link(@search, :target_line, '対象隊列', default_order: :desc)
      - if @form_params["show_detail_parameter_development"] == "1"
        %th.sep= sort_link(@search, :parameter_development_rank, 'Rank', default_order: :desc)
        %th.sep= sort_link(@search, :target_parameter_development_rank, '対象Rank', default_order: :desc)
      %th.sep= sort_link(@search, :card_data_name, 'カード効果', default_order: :desc)
      %th= sort_link(@search, :card_data_lv, 'Lv', default_order: :desc)
      %th= sort_link(@search, :chain, 'Chain', default_order: :desc)
      - if @form_params["show_detail_element"] == "1"
        %th.sep= sort_link(@search, :element, '属性', default_order: :desc)
      - if @form_params["show_detail_target"] == "1"
        %th.sep= sort_link(@search, :target_e_no, '対象キャラクター(Eno)', default_order: :desc)
      - if @form_params["show_detail_target_characteristic"] == "1"
        %th.sep= sort_link(@search, :target_characteristic_str, '対象腕力', default_order: :desc)
        %th= sort_link(@search, :target_characteristic_vit, '対象体力', default_order: :desc)
        %th= sort_link(@search, :target_characteristic_int, '対象理力', default_order: :desc)
        %th= sort_link(@search, :target_characteristic_mnd, '対象精神', default_order: :desc)
        %th= sort_link(@search, :target_characteristic_tec, '対象器用', default_order: :desc)
        %th= sort_link(@search, :target_characteristic_eva, '対象敏捷', default_order: :desc)
      %th.sep= sort_link(@search, :act_type, '行動', default_order: :desc)
      %th= sort_link(@search, :damage, '効果量', default_order: :desc)
      - if @form_params["show_detail_damage_option"] == "1"
        %th.sep= sort_link(@search, :is_weak, 'Weak', default_order: :desc)
        %th= sort_link(@search, :is_critical, 'Critical', default_order: :desc)
        %th= sort_link(@search, :is_clean, 'Clean', default_order: :desc)
      - if @form_params["show_detail_card_option"] == "1"
        %th.sep= sort_link(@search, :is_vanish, 'Vanish', default_order: :desc)
        %th= sort_link(@search, :is_absorb, 'Absorb', default_order: :desc)
        %th= sort_link(@search, :revenge_value, 'Revenge', default_order: :desc)
        %th= sort_link(@search, :time_penalty_value, 'Time', default_order: :desc)
        %th= sort_link(@search, :to_the_fallen_value, 'Fallen', default_order: :desc)
      - if @form_params["show_detail_abnormal"] == "1"
        %th.sep{colspan: "2"}= sort_link(@search, :poison_value, '毒', default_order: :desc)
        %th{colspan: "2"}= sort_link(@search, :paralysis_value, '麻痺', default_order: :desc)
        %th{colspan: "2"}= sort_link(@search, :seal_value, '封殺', default_order: :desc)
        %th{colspan: "2"}= sort_link(@search, :confusion_value, '混乱', default_order: :desc)
        %th{colspan: "2"}= sort_link(@search, :charm_value, '魅了', default_order: :desc)
      - if @form_params["show_detail_buffer"] == "1"
        %th.sep{colspan: "2"}= sort_link(@search, :attack_buffer_value, '物攻', default_order: :desc)
        %th{colspan: "2"}= sort_link(@search, :defence_buffer_value, '物防', default_order: :desc)
        %th{colspan: "2"}= sort_link(@search, :magic_buffer_value, '理力', default_order: :desc)
        %th{colspan: "2"}= sort_link(@search, :resist_buffer_value, '抵抗', default_order: :desc)
        %th{colspan: "2"}= sort_link(@search, :hit_buffer_value, '命中', default_order: :desc)
        %th{colspan: "2"}= sort_link(@search, :dodge_buffer_value, '回避', default_order: :desc)
        %th{colspan: "2"}= sort_link(@search, :death_buffer_value, '必殺', default_order: :desc)
        %th{colspan: "2"}= sort_link(@search, :control_buffer_value, '制御', default_order: :desc)
      - if @form_params["show_detail_reinforcement"] == "1"
        %th.sep= sort_link(@search, :reinforcement_lv, '強化F', default_order: :desc)
      - if @form_params["show_detail_conversion"] == "1"
        %th.sep= sort_link(@search, :conversion_value, '変換F', default_order: :desc)
      - if @form_params["show_detail_chain_power"] == "1"
        %th.sep= sort_link(@search, :chain_power_value, '鎖力', default_order: :desc)
      - if @form_params["show_detail_fp_type"] == "1"
        %th.sep= sort_link(@search, :all_fp_damage_value, '完全FP', default_order: :desc)
        %th= sort_link(@search, :all_lp_damage_value, '完全LP', default_order: :desc)
        %th= sort_link(@search, :lpfp_damage_value, 'FPLP', default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
      %th{colspan: "2"} 模擬戦結果
  %tbody
    - @damages.each do |damage|
      %tr
        %td= damage.result_no
        %td.sep= p_name_text(damage.e_no, damage.p_name)
        %td.sep= damage.battle_page
        - if @form_params["show_detail_turn"] == "1"
          %td.sep= damage.turn
        - if @form_params["show_detail_characteristic"] == "1"
          %td.sep= damage.characteristic.str if damage.characteristic
          %td= damage.characteristic.vit if damage.characteristic
          %td= damage.characteristic.int if damage.characteristic
          %td= damage.characteristic.mnd if damage.characteristic
          %td= damage.characteristic.tec if damage.characteristic
          %td= damage.characteristic.eva if damage.characteristic
        - if @form_params["show_detail_party"] == "1"
          %td.sep= damage.party_num
          %td= damage.target_party_num
        - if @form_params["show_detail_line"] == "1"
          %td.sep= showLine(damage.line)
          %td= showLine(damage.target_line)
        - if @form_params["show_detail_parameter_development"] == "1"
          %td.sep= damage.parameter_development.rank if damage.parameter_development
          %td.sep= damage.target_parameter_development.rank if damage.target_parameter_development
        %td.sep= damage.card_data.name if damage.card_data
        %td= damage.card_data.lv if damage.card_data
        %td= damage.chain
        - if @form_params["show_detail_element"] == "1"
          %td.sep= damage.element_name.name if damage.element_name
        - if @form_params["show_detail_target"] == "1"
          %td.sep= p_name_text(damage.target_e_no, damage.target_p_name)
        - if @form_params["show_detail_target_characteristic"] == "1"
          %td.sep= damage.target_characteristic.str if damage.target_characteristic
          %td= damage.target_characteristic.vit if damage.target_characteristic
          %td= damage.target_characteristic.int if damage.target_characteristic
          %td= damage.target_characteristic.mnd if damage.target_characteristic
          %td= damage.target_characteristic.tec if damage.target_characteristic
          %td= damage.target_characteristic.eva if damage.target_characteristic
        %td.sep= damage.act_type_name.name if damage.act_type_name
        %td
          = damage.damage if damage.damage >= 0
          = "回避" if damage.damage < 0
        - if @form_params["show_detail_damage_option"] == "1"
          %td.sep= showExistBuffer(damage.weak)
          %td= showExistBuffer(damage.critical)
          %td= showExistBuffer(damage.clean)
        - if @form_params["show_detail_card_option"] == "1"
          %td.sep= showExistBuffer(damage.vanish)
          %td= showExistBuffer(damage.absorb)
          %td= showExistBuffer(damage.revenge)
          %td= showExistBuffer(damage.time_penalty)
          %td= showExistBuffer(damage.to_the_fallen)
        - if @form_params["show_detail_abnormal"] == "1"
          %td.sep= showBufferLv(damage.poison)
          %td= damage.poison.value if damage.poison
          %td= showBufferLv(damage.paralysis)
          %td= damage.paralysis.value if damage.paralysis
          %td= showBufferLv(damage.seal)
          %td= damage.seal.value if damage.seal
          %td= showBufferLv(damage.confusion)
          %td= damage.confusion.value if damage.confusion
          %td= showBufferLv(damage.charm)
          %td= damage.charm.value if damage.charm
        - if @form_params["show_detail_buffer"] == "1"
          %td.sep= showReinforcing(damage.attack_buffer)
          %td= damage.attack_buffer.value if damage.attack_buffer
          %td= showReinforcing(damage.defence_buffer)
          %td= damage.defence_buffer.value if damage.defence_buffer
          %td= showReinforcing(damage.magic_buffer)
          %td= damage.magic_buffer.value if damage.magic_buffer
          %td= showReinforcing(damage.resist_buffer)
          %td= damage.resist_buffer.value if damage.resist_buffer
          %td= showReinforcing(damage.hit_buffer)
          %td= damage.hit_buffer.value if damage.hit_buffer
          %td= showReinforcing(damage.dodge_buffer)
          %td= damage.dodge_buffer.value if damage.dodge_buffer
          %td= showReinforcing(damage.death_buffer)
          %td= damage.death_buffer.value if damage.death_buffer
          %td= showReinforcing(damage.control_buffer)
          %td= damage.control_buffer.value if damage.control_buffer
        - if @form_params["show_detail_reinforcement"] == "1"
          %td.sep= showReinforcing(damage.reinforcement)
        - if @form_params["show_detail_conversion"] == "1"
          %td.sep= showConversion(damage.conversion)
        - if @form_params["show_detail_chain_power"] == "1"
          %td.sep= sprintf("%d％", damage.chain_power.value) if damage.chain_power
        - if @form_params["show_detail_fp_type"] == "1"
          %td.sep= showExistBuffer(damage.all_fp_damage)
          %td= showExistBuffer(damage.all_lp_damage)
          %td= showExistBuffer(damage.lpfp_damage)
        %td.sep= character_link(damage.e_no)
        %td= character_old_link(@latest_result, damage.e_no, damage.result_no)
        %td= battle_link(@latest_result, damage.battle_page, damage.result_no)
        %td= battle_old_link(@latest_result, damage.battle_page, damage.result_no)
= paginate(@damages)
