- @page_title = "施設詳細区分"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        %td= f.label :division_id_form, 'ID'
        %td.formNum= text_field_tag :division_id_form, @division_id_form
      %tr
        %td.indent
        %td= f.label :detail_form, '詳細区分'
        %td.formText= text_field_tag :detail_form, @detail_form
      %tr
        %td.indent
        %td= f.label :major_form, '区分'
        %td.formText= text_field_tag :major_form, @major_form
      %tr
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@facility_division_data)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :division_id, 'ID', default_order: :desc)
      %th= sort_link(@search, :detail, '詳細区分', default_order: :desc)
      %th= sort_link(@search, :major, '区分', default_order: :desc)
  %tbody
    - @facility_division_data.each do |facility_division_datum|
      %tr
        %td= facility_division_datum.division_id
        %td= facility_division_datum.detail_name.name if facility_division_datum.detail_name
        %td= facility_division_datum.major_name.name  if facility_division_datum.major_name
= paginate(@facility_division_data)
