- @page_title = "全取得カード一覧"
%h1= @page_title

%div.well.desc
  = render "layouts/base_desc"
  %p
    %span.example_select.example_toggle.pointer
      - help_icon
      入力例
      - act_desc(false)
  #example.closed
    = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td  
        %td= f.label :name_form, 'カード名'
        %td.formText{colspan: "3"}= text_field_tag :name_form, @name_form
      %tr
        %td  
        %td= f.label :effect_form, '効果'
        %td.formText= text_field_tag :effect_form, @effect_form
        %td= f.label :lv_form, 'Lv'
        %td.formNum= text_field_tag :lv_form, @lv_form
      %tr
        %td  
        %td= f.label :get_type_form, '取得方法'
        %td{colspan: "3"}
          = check_box_tag :is_get_type_create, @is_get_type_create, @is_get_type_create
          = label_tag :is_get_type_create, '生成'
          　　
          = check_box_tag :is_get_type_drop, @is_get_type_drop, @is_get_type_drop
          = label_tag :is_get_type_drop, '獲得'
          　　
          = check_box_tag :is_get_type_failed, @is_get_type_failed, @is_get_type_failed
          = label_tag :is_get_type_failed, '生成失敗'
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@get_cards)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :name, 'カード名', default_order: :desc)
      %th= sort_link(@search, :card_data_name, '効果', default_order: :desc)
      %th= sort_link(@search, :card_data_lv, 'Lv', default_order: :desc)
      %th= sort_link(@search, :get_type, '取得方法', default_order: :desc)
      %th{colspan:"2"}
        結果リンク
  %tbody
    - @get_cards.each do |get_card|
      %tr
        %td= get_card.result_no
        %td= p_name_text(get_card.e_no, get_card.p_name)
        %td= get_card.name
        %td= get_card.card_data.name if get_card.card_data
        %td= get_card.card_data.lv if get_card.card_data
        %td
          -if get_card.get_type == 0
            失敗
          -elsif get_card.get_type == 1
            生成
          -elsif get_card.get_type == 2
            獲得
        %td
          = character_link(get_card.e_no)
        %td
          = character_old_link(@last_result, get_card.e_no, get_card.result_no)
= paginate(@get_cards)
