- @page_title = "所持カード一覧"
%h1= @page_title

%p.formNum 
  テキストフォームの隣に赤い破線がある項目は数値検索です。
  %br
  「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。
  %br
  OR指定と範囲指定を同時に行うことはできません。
%p.formText
  テキストフォームの隣に青い太線がある項目は文字検索です。
  %br
  半角スペース区切りでAND、「/」区切りでOR、単語の前に「-」でNOT、単語の前後に「"」をつけて完全一致が使えます
  %br
  ANDとORを組み合わせた時は、ANDで区切った後にORで区切るという順番になります。
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  %p.formNum
    数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
    %br
    「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。
  %p.formText
    「傷火炎」と入力　→　傷火炎、列傷火炎、全傷火炎……が検索結果にヒット
    %br
    「"傷火炎"」　→　完全一致で「傷火炎」のみ検索結果にヒット
    %br
    「-傷火炎」　→　「傷火炎」の単語を含まないものが検索結果にヒット
    %br
    「-"傷火炎"」　→　完全一致で「傷火炎」以外の全てが検索結果にヒット
    %br
    「傷火炎 -"傷火炎"」　→　「傷火炎」が含まれる単語で完全一致の「傷火炎」以外がヒット。つまり、傷火炎を除いて列傷火炎、全傷火炎……がヒットします。
    %br
    「傷 火炎」　→　「傷」と「火炎」の2つの単語が含まれるものが検索結果にヒット。傷火炎、傷身火炎、傷心火炎……がヒットします。
    %br
    「傷/火炎」　→　「傷」か「火炎」のどちらかの単語が含まれるものが検索結果にヒット。傷火炎、傷氷水、耐火炎……がヒットします。
    %br
    「傷 火炎/氷水」　→　「傷」が含まれ、さらに 「火炎」か「氷水」 が含まれるものが検索結果にヒット
    %br
    「-傷 -火炎」　→　「傷」もしくは「火炎」という単語が含まれるものを検索結果から除外
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody
      %tr
        %td{:colspan => "4"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td= f.label :result_no_form, '更新回'
        %td.formNum{:colspan => "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td= f.label :s_no_form, 'Sno'
        %td.formNum= text_field_tag :s_no_form, @s_no_form
        %td= f.label :name_form, 'カード名'
        %td.formText= text_field_tag :name_form, @name_form
      %tr
        %td= f.label :possession_form, '所有'
        %td.formText= text_field_tag :possession_form, @possession_form
        %td= f.label :kind_form, '種類'
        %td.formText= text_field_tag :kind_form, @kind_form
      %tr
        %td= f.label :effect_form, '効果'
        %td.formText= text_field_tag :effect_form, @effect_form
        %td= f.label :lv_form, 'Lv'
        %td.formNum= text_field_tag :lv_form, @lv_form
      %tr
        %td= f.label :lp_form, 'LP'
        %td.formNum= text_field_tag :lp_form, @lp_form
        %td= f.label :fp_form, 'FP'
        %td.formNum= text_field_tag :fp_form, @fp_form
      %tr
        %td= hidden_field_tag :is_form, 1
        %td{:colspan => "3"}= f.submit '検索する'


= paginate(@cards)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :s_no, 'Sno', default_order: :desc)
      %th= sort_link(@search, :name, 'カード名', default_order: :desc)
      %th= sort_link(@search, :possession, '所有', default_order: :desc)
      %th= sort_link(@search, :card_data_kind_name_name, '種類', default_order: :desc)
      %th= sort_link(@search, :card_data_name, '効果', default_order: :desc)
      %th= sort_link(@search, :card_data_lv, 'Lv', default_order: :desc)
      %th= sort_link(@search, :card_data_lp, 'LP', default_order: :desc)
      %th= sort_link(@search, :card_data_fp, 'FP', default_order: :desc)
      %th{:colspan =>"2"}
        結果リンク
  %tbody
    - @cards.each do |card|
      %tr
        %td= card.result_no
        %td= card.p_name.name.html_safe + "(" + sprintf("%d", card.e_no) + ")"
        %td= card.s_no
        %td= card.name
        %td= card.possession_name.name if card.possession_name
        %td= card.card_data.kind_name.name if card.card_data && card.card_data.kind_name
        %td= card.card_data.name if card.card_data
        %td= card.card_data.lv if card.card_data
        %td= card.card_data.lp if card.card_data
        %td= card.card_data.fp if card.card_data
        %td
          = character_link(card.e_no)
        %td
          = character_old_link(@last_result, card.e_no, card.result_no)
= paginate(@cards)
