- @page_title = "所持カード一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td.indent
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td.indent
        %td= f.label :s_no_form, 'Sno'
        %td.formNum= text_field_tag :s_no_form, @s_no_form
        %td= f.label :name_form, 'カード名'
        %td.formText= text_field_tag :name_form, @name_form
      %tr
        %td.indent
        %td= f.label :possession_form, '所有'
        %td.formText= text_field_tag :possession_form, @possession_form
        %td= f.label :kind_form, '種類'
        %td.formText= text_field_tag :kind_form, @kind_form
      %tr
        %td.indent
        %td= f.label :effect_form, '効果'
        %td.formText= text_field_tag :effect_form, @effect_form
        %td= f.label :lv_form, 'Lv'
        %td.formNum= text_field_tag :lv_form, @lv_form
      %tr
        %td.indent
        %td= f.label :lp_form, 'LP'
        %td.formNum= text_field_tag :lp_form, @lp_form
        %td= f.label :fp_form, 'FP'
        %td.formNum= text_field_tag :fp_form, @fp_form
      %tr
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@cards)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :s_no, 'Sno', default_order: :desc)
      %th= sort_link(@search, :name, 'カード名', default_order: :desc)
      %th= sort_link(@search, :possession, '所有', default_order: :desc)
      %th= sort_link(@search, :card_data_kind_name_name, '種類', default_order: :desc)
      %th= sort_link(@search, :card_data_name, '効果', default_order: :desc)
      %th= sort_link(@search, :card_data_lv, 'Lv', default_order: :desc)
      %th= sort_link(@search, :card_data_lp, 'LP', default_order: :desc)
      %th= sort_link(@search, :card_data_fp, 'FP', default_order: :desc)
      %th{colspan:"2"}
        結果リンク
  %tbody
    - @cards.each do |card|
      %tr
        %td= card.result_no
        %td= p_name_text(card.e_no, card.p_name)
        %td= card.s_no
        %td= card.name
        %td= card.possession_name.name if card.possession_name
        %td= card.card_data.kind_name.name if card.card_data && card.card_data.kind_name
        %td= card.card_data.name if card.card_data
        %td= card.card_data.lv if card.card_data
        %td= card.card_data.lp if card.card_data
        %td= card.card_data.fp if card.card_data
        %td
          = character_link(card.e_no)
        %td
          = character_old_link(@last_result, card.e_no, card.result_no)
= paginate(@cards)
