- @page_title = "カード発動回数ランキング"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      ※発動回数のカウントには制御に失敗したものも含みます。
    %p
      ※使用者の模擬戦出現回数とは、「召集も含めて使用者が所属したパーティが模擬戦で○勝以上」となった回数を表します。この回数は各更新回ごとに別途カウントされます。
      %br
      例）「更新回[1~2]」「3勝以上[1~]」……Vol.1で模擬戦3勝パーティに1回以上所属したキャラクターがVol.1で発動したカードと、Vol.2で模擬戦3勝パーティに1回以上所属したキャラクターがVol.2で発動したカードがヒットします
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search, url: card_user_sum_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td.indent
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form, placeholder: @placeholder["Number"]
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form, placeholder: @placeholder["Name"]
      %tr
        %td.indent
        %td= f.label :effect_form, '効果'
        %td.formText= text_field_tag :effect_form, @effect_form, placeholder: @placeholder["Card"]
        %td= f.label :lv_form, 'Lv'
        %td.formNum= text_field_tag :lv_form, @lv_form, placeholder: @placeholder["Number"]
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_battle_page, @show_battle_page
          - act_icon(false)
          = label_tag :show_battle_page, '　模擬戦名・所属パーティで絞り込む', class: "act_desc"
          = label_tag :show_battle_page, '　模擬戦名・所属パーティでの絞り込みを隠す', class: "act_desc closed"
    %tbody.closed
      %tr
        %td.indent
        %td= f.label :battle_page_form, '模擬戦名　(X VS X)'
        %td.formText= text_field_tag :battle_page_form, @battle_page_form
        %td= f.label :party_form, '所属パーティ'
        %td.formNum= text_field_tag :party_form, @party_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_pre_party_num, @show_pre_party_num
          - act_icon(false)
          = label_tag :show_pre_party_num, '　使用者の模擬戦出現回数で絞り込む', class: "act_desc"
          = label_tag :show_pre_party_num, '　使用者の模擬戦出現回数での絞り込みを隠す', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :pre_gt0_form, '0勝以上'
        %td.formNum= text_field_tag :pre_gt0_form, @pre_gt0_form
        %td= f.label :pre_gt1_form, '1勝以上'
        %td.formNum= text_field_tag :pre_gt1_form, @pre_gt1_form
      %tr
        %td.indent
        %td= f.label :pre_gt2_form, '2勝以上'
        %td.formNum= text_field_tag :pre_gt2_form, @pre_gt2_form
        %td= f.label :pre_gt3_form, '3勝以上'
        %td.formNum= text_field_tag :pre_gt3_form, @pre_gt3_form
    %tbody
      %tr
        %td.indent
        %td.indent
        %td{colspan: "3"}
          %span.input
            = check_box_tag :group_card_name, @group_card_name, @group_card_name
            = label_tag :group_card_name, 'カード名のみで集計する（Lvは無視する）'
      %tr
        %td.indent
        %td.indent
        %td{colspan: "3"}
          %span.input
            = check_box_tag :group_turn, @group_turn, @group_turn
            = label_tag :group_turn, '発動ターンごとに集計する'
      %tr
        %td.indent
        %td.indent
        %td{colspan: "3"}
          %span.input
            = check_box_tag :show_user_num, @show_user_num, @show_user_num
            = label_tag :show_user_num, '設定人数・パーティ数を表示する'
      %tr
        %td.indent
        %td.indent
          = hidden_field_tag :is_form, 1
          = hidden_field_tag :is_success, "on"
        %td{colspan: "3"}
          - search_submit_button

= paginate(@card_users)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      - if @group_turn
        %th= sort_link(@search, :turn, 'Turn', default_order: :desc)
      %th= sort_link(@search, :card_data_name, 'カード効果', default_order: :desc)
      - if !@group_card_name
        %th= sort_link(@search, :card_data_lv, 'Lv', default_order: :desc)
      %th= sort_link(@search, :count, '発動回数', default_order: :desc)
      - if @show_user_num
        %th= sort_link(@search, :user_num, '人数', default_order: :desc)
        %th= sort_link(@search, :party_num, 'PT数', default_order: :desc)
  %tbody
    - @card_users.each do |card_user|
      %tr
        %td= card_user.result_no
        - if @group_turn
          %td= card_user.turn
        %td= card_user.card_data.name if card_user.card_data
        - if !@group_card_name
          %td= card_user.card_data.lv if card_user.card_data
        %td= card_user.count
        - if @show_user_num
          %td= card_user.user_num
          %td= card_user.party_num
= paginate(@card_users)
