- @page_title = "新出発動カード一覧"
%h1= @page_title

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :effect_form, 'カード効果'
        %td.formText= text_field_tag :effect_form, @effect_form
        %td= f.label :lv_form, 'Lv'
        %td.formNum= text_field_tag :lv_form, @lv_form
      - if @is_show_card_detail
        %tr
          %td  
          %td= f.label :kind_form, '種類'
          %td.formText{colspan: "3"}= text_field_tag :kind_form, @kind_form
        %tr
          %td  
          %td= f.label :lp_form, 'LP'
          %td.formNum= text_field_tag :lp_form, @lp_form
          %td= f.label :fp_form, 'FP'
          %td.formNum= text_field_tag :fp_form, @fp_form
      %tr
        %td  
        %td
        %td{colspan: "3"}
          = check_box_tag :is_show_card_detail, @is_show_card_detail, @is_show_card_detail
          = label_tag :is_show_card_detail, '種類・LP・FPを表示'
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@new_card_uses)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :card_data_name, '効果', default_order: :desc)
      %th= sort_link(@search, :card_data_lv, 'Lv', default_order: :desc)
      - if @is_show_card_detail
        %th= sort_link(@search, :card_data_kind_name_name, '種類', default_order: :desc)
      - if @is_show_card_detail
        %th= sort_link(@search, :card_data_lp, 'LP', default_order: :desc)
      - if @is_show_card_detail
        %th= sort_link(@search, :card_data_fp, 'FP', default_order: :desc)
      %th リンク
  %tbody
    - @new_card_uses.each do |new_card_use|
      %tr
        %td= new_card_use.result_no
        %td= new_card_use.card_data.name if new_card_use.card_data
        %td= new_card_use.card_data.lv   if new_card_use.card_data
        - if @is_show_card_detail
          %td= new_card_use.card_data.kind_name.name if new_card_use.card_data && new_card_use.card_data.kind_name
        - if @is_show_card_detail
          %td= new_card_use.card_data.lp if new_card_use.card_data && new_card_use.card_data.lp >= 0
        - if @is_show_card_detail
          %td= new_card_use.card_data.fp if new_card_use.card_data && new_card_use.card_data.fp >= 0
        %td
          = link_to "カード発動者一覧", card_users_path + "?result_no_form=" + sprintf("%d", new_card_use.result_no) + "&effect_form=\"" + new_card_use.card_data.name + "\"&lv_form=" + sprintf("%d", new_card_use.card_data.lv)
= paginate(@new_card_uses)
