%h1 新出取得カード一覧

.bs-docs-section
  .row
    .col-md-12
      %p.formNum 
        テキストフォームの隣に赤い破線がある項目は数値検索です。
        %br
        「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。
        %br
        OR指定と範囲指定を同時に行うことはできません。
      %p.formText
        テキストフォームの隣に青い太線がある項目は文字検索です。
        %br
        半角スペース区切りでAND、「/」区切りでOR、単語の前に「-」でNOT、単語の前後に「"」をつけて完全一致が使えます
        %br
        ANDとORを組み合わせた時は、ANDで区切った後にORで区切るという順番になります。
      %p
        取得方法：全て合算 　→　過去にカード生成で新出カードとして出た効果は、学科の鍛錬で獲得しても新出データに表示しません。
        %br
        取得方法：獲得　→　学科鍛錬によって新しく獲得する条件が見つかったカードが表示されます。
        %br
        完全に新規効果のカードが調べたい　→　Lvに1を代入すると既出効果の高レベルカードを除外できます
      %p
        %span#example_open.example_select.pointer{:onclick => "example_open(true)"}
          入力例（クリックで開きます）
          %br
        %span#example_close.example_select.pointer{:style => "display:none;", :onclick => "example_open(false)"}
          入力例（クリックで閉じます）
          %br
        #example{:style => "display:none;"}
          %p.formNum
            数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
            %br
            「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。
          %p.formText
            「傷火炎」と入力　→　傷火炎、列傷火炎、全傷火炎……が検索結果にヒット
            %br
            「"傷火炎"」　→　完全一致で「傷火炎」のみ検索結果にヒット
            %br
            「-傷火炎」　→　「傷火炎」の単語を含まないものが検索結果にヒット
            %br
            「-"傷火炎"」　→　完全一致で「傷火炎」以外の全てが検索結果にヒット
            %br
            「傷火炎 -"傷火炎"」　→　「傷火炎」が含まれる単語で完全一致の「傷火炎」以外がヒット。つまり、傷火炎を除いて列傷火炎、全傷火炎……がヒットします。
            %br
            「傷 火炎」　→　「傷」と「火炎」の2つの単語が含まれるものが検索結果にヒット。傷火炎、傷身火炎、傷心火炎……がヒットします。
            %br
            「傷/火炎」　→　「傷」か「火炎」のどちらかの単語が含まれるものが検索結果にヒット。傷火炎、傷氷水、耐火炎……がヒットします。
            %br
            「傷 火炎/氷水」　→　「傷」が含まれ、さらに 「火炎」か「氷水」 が含まれるものが検索結果にヒット
            %br
            「-傷 -火炎」　→　「傷」もしくは「火炎」という単語が含まれるものを検索結果から除外
      = search_form_for @search do |f|
        %table#search_close.table.table-striped.table-bordered.table-hover{:style => "display:none;", :onclick=>"search_open(true);"}
          %tbody
          %tr
            %td{:colspan => "2", :style => "cursor:pointer;"}
              絞り込み検索
              %span{:style => "font-size:80%"}
                (クリックで開きます)

        %table#search_table.table.table-striped.table-bordered.table-hover
          %tbody
            %tr
              %td{:colspan => "4", :style => "cursor:pointer;", :onclick => "search_open(false);"}
                絞り込み検索
                %span{:style => "font-size:80%"}
                  (クリックで閉じます)
            %tr
              %td= f.label :result_no_form, '更新回'
              %td.formNum{:colspan => "3"}= text_field_tag :result_no_form, @result_no_form
            %tr
              %td= f.label :effect_form, 'カード効果'
              %td.formText= text_field_tag :effect_form, @effect_form
              %td= f.label :lv_form, 'Lv'
              %td.formNum= text_field_tag :lv_form, @lv_form
            - if @is_show_card_detail
              %tr
                %td= f.label :kind_form, '種類'
                %td.formText{:colspan => "3"}= text_field_tag :kind_form, @kind_form
              %tr
                %td= f.label :lp_form, 'LP'
                %td.formNum= text_field_tag :lp_form, @lp_form
                %td= f.label :fp_form, 'FP'
                %td.formNum= text_field_tag :fp_form, @fp_form
            %tr
              %td= f.label :get_type_form, '取得方法'
              %td{:colspan => "3"}
                = check_box_tag :is_get_type_all, @is_get_type_all, @is_get_type_all
                = label_tag :is_get_type_all, '全て合算'
                %br
                = check_box_tag :is_get_type_create, @is_get_type_create, @is_get_type_create
                = label_tag :is_get_type_create, '生成'
                　　
                = check_box_tag :is_get_type_drop, @is_get_type_drop, @is_get_type_drop
                = label_tag :is_get_type_drop, '獲得'
                　　
                = check_box_tag :is_get_type_event, @is_get_type_event, @is_get_type_event
                = label_tag :is_get_type_event, 'イベント獲得'
            %tr
              %td
              %td{:colspan => "3"}
                = check_box_tag :is_show_card_detail, @is_show_card_detail, @is_show_card_detail
                = label_tag :is_show_card_detail, '種類・LP・FPを表示'
            %tr
              %td= hidden_field_tag :is_form, 1
              %td{:colspan => "3"}= f.submit '検索する'


      = paginate(@new_get_cards)
      %br
      ヒット数：#{ @count }件
      %br
      %br
      
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
            %th= sort_link(@search, :card_data_name, '効果', default_order: :desc)
            %th= sort_link(@search, :card_data_lv, 'Lv', default_order: :desc)
            - if @is_show_card_detail
              %th= sort_link(@search, :card_data_kind_name_name, '種類', default_order: :desc)
            - if @is_show_card_detail
              %th= sort_link(@search, :card_data_lp, 'LP', default_order: :desc)
            - if @is_show_card_detail
              %th= sort_link(@search, :card_data_fp, 'FP', default_order: :desc)
            %th= sort_link(@search, :get_type, '取得方法', default_order: :desc)
            %th{:colspan =>"2"} リンク
        %tbody
          - @new_get_cards.each do |new_get_card|
            %tr
              %td= new_get_card.result_no
              %td= new_get_card.card_data.name if new_get_card.card_data
              %td= new_get_card.card_data.lv if new_get_card.card_data
              - if @is_show_card_detail
                %td= new_get_card.card_data.kind_name.name if new_get_card.card_data && new_get_card.card_data.kind_name
              - if @is_show_card_detail
                %td= new_get_card.card_data.lp if new_get_card.card_data && new_get_card.card_data.lp >= 0
              - if @is_show_card_detail
                %td= new_get_card.card_data.fp if new_get_card.card_data && new_get_card.card_data.fp >= 0
              %td
                = "全て" if new_get_card.get_type == 0
                = "生成" if new_get_card.get_type == 1
                = "獲得" if new_get_card.get_type == 2
                = "イベント" if new_get_card.get_type == 3
              %td= new_get_card_to_get_card_link(new_get_card.result_no, new_get_card.card_data.name, new_get_card.card_data.lv, new_get_card.get_type)
              %td
                = link_to "所持カード一覧", cards_path + "?result_no_form=" + sprintf("%d", new_get_card.result_no) + "&effect_form=\"" + new_get_card.card_data.name + "\"&lv_form=" + sprintf("%d", new_get_card.card_data.lv)
      = paginate(@new_get_cards)
