- @page_title = "受給ミッション達成率"
%h1= @page_title

.card.desc
  .card-body
    %p
      NPCから受給する個別注文の達成率を表示しています。
      %br
      達成率は達成数÷受給数で求めています。
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search, url: mission_statistics_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :mission_name_form, 'ミッション名'
        %td.formText= text_field_tag :mission_name_form, @mission_name_form
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@missions)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :mission_name, 'ミッション', default_order: :desc)
      %th= sort_link(@search, :lv, 'Lv', default_order: :desc)
      %th 達成率
      %th 達成数
      %th 受給数
  %tbody
    - @missions.each do |mission|
      %tr
        %td= mission.result_no
        %td= mission.mission.name if mission.mission
        %td= mission.lv
        %td= sprintf("%.0f", mission.clear_per * 100) + "％" if mission.respond_to?(:clear_per)
        %td= mission.status_clear
        %td= mission.count
= paginate(@missions)
