- @page_title = "経過パラメータ一覧"
%h1= @page_title

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{:colspan => "4"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td= f.label :result_no_form, '更新回'
        %td.formNum= text_field_tag :result_no_form, @result_no_form
      %tr
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td= f.label :tip_form, 'Tip'
        %td.formNum= text_field_tag :tip_form, @tip_form
      %tr
        %td= f.label :tip_t_form, 'Tip.T'
        %td.formNum= text_field_tag :tip_t_form, @tip_t_form
      %tr
        %td= f.label :build_t_form, 'Build.T'
        %td.formNum= text_field_tag :build_t_form, @build_t_form
      %tr
        %td= f.label :mark_t_form, 'Mark.T'
        %td.formNum= text_field_tag :mark_t_form, @mark_t_form
      %tr
        %td= hidden_field_tag :is_form, 1
        %td= f.submit '検索する'


= paginate(@parameter_progresses)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :tip, 'Tip', default_order: :desc)
      %th= sort_link(@search, :tip_t, 'Tip.T', default_order: :desc)
      %th= sort_link(@search, :build_t, 'Build.T', default_order: :desc)
      %th= sort_link(@search, :mark_t, 'Mark.T', default_order: :desc)
      %th{:colspan =>"2"}
        結果リンク
  %tbody
    - @parameter_progresses.each do |parameter_progress|
      %tr
        %td= parameter_progress.result_no
        %td= p_name_text(parameter_progress.e_no, parameter_progress.p_name)
        %td= parameter_progress.tip
        %td= parameter_progress.tip_t
        %td= parameter_progress.build_t
        %td= parameter_progress.mark_t
        %td
          = character_link(parameter_progress.e_no)
        %td
          = character_old_link(@last_result, parameter_progress.e_no, parameter_progress.result_no)
= paginate(@parameter_progresses)
