- @page_title = "カード情報一覧"
%h1= @page_title

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{:colspan => "2"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td= f.label :card_id_form, 'ID'
        %td.formNum= text_field_tag :card_id_form, @card_id_form
      %tr
        %td= f.label :name_form, 'カード効果名'
        %td.formText= text_field_tag :name_form, @name_form
      %tr
        %td= f.label :kind_form, '種類'
        %td.formText= text_field_tag :kind_form, @kind_form
      %tr
        %td= f.label :lv_form, 'Lv'
        %td.formNum= text_field_tag :lv_form, @lv_form
      %tr
        %td= f.label :lp_form, 'LP'
        %td.formNum= text_field_tag :lp_form, @lp_form
      %tr
        %td= f.label :fp_form, 'FP'
        %td.formNum= text_field_tag :fp_form, @fp_form
      %tr
        %td= hidden_field_tag :is_form, 1
        %td= f.submit '検索する'


= paginate(@card_data)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :card_id, 'ID', default_order: :desc)
      %th= sort_link(@search, :name, '効果', default_order: :desc)
      %th= sort_link(@search, :kind, '種類', default_order: :desc)
      %th= sort_link(@search, :lv, 'Lv', default_order: :desc)
      %th= sort_link(@search, :lp, 'LP', default_order: :desc)
      %th= sort_link(@search, :fp, 'FP', default_order: :desc)
  %tbody
    - @card_data.each do |card_datum|
      %tr
        %td= card_datum.card_id
        %td= card_datum.name
        %td= card_datum.kind_name.name if card_datum.kind_name
        %td= card_datum.lv
        %td= card_datum.lp
        %td= card_datum.fp
= paginate(@card_data)
