- @page_title = "推定カード獲得条件一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      ※注意：この一覧に表示されている学科値は、データから推定したカード獲得時の最低値であり、確定した獲得条件ではありません。
      %br
      習得条件が(斬術3or突術3)+打術3の場合、この一覧では斬術0+突術0+打術3と表示されます。
      %br
      確実に条件を調査したい場合、効果名をクリックして実際の獲得者一覧を確認してください。
    %p
      (参考：
      = link_to "前期データ", "https://tkg.mn-s.net/lo/drop_min_subjects"
      )
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover.subject
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_result_no, @show_detail_result_no
          - act_icon(false)
          = label_tag :show_detail_result_no, '　過去の推定条件を表示する', class: "act_desc"
          = label_tag :show_detail_result_no, '　過去の推定条件を表示しない', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
    %tbody
      %tr
        %td.indent
        %td= f.label :effect_form, 'カード効果'
        %td.formText= text_field_tag :effect_form, @effect_form
        %td= f.label :lv_form, 'Lv'
        %td.formNum= text_field_tag :lv_form, @lv_form
      %tr
        %td.indent
        %td= f.label :slash_form, '斬術'
        %td.formNum= text_field_tag :slash_form, @slash_form
        %td= f.label :fire_form, '火術'
        %td.formNum= text_field_tag :fire_form, @fire_form
      %tr
        %td.indent
        %td= f.label :thrust_form, '突術'
        %td.formNum= text_field_tag :thrust_form, @thrust_form
        %td= f.label :theology_form, '神術'
        %td.formNum= text_field_tag :theology_form, @theology_form
      %tr
        %td.indent
        %td= f.label :stroke_form, '打術'
        %td.formNum= text_field_tag :stroke_form, @stroke_form
        %td= f.label :life_form, '命術'
        %td.formNum= text_field_tag :life_form, @life_form
      %tr
        %td.indent
        %td= f.label :shot_form, '射撃'
        %td.formNum= text_field_tag :shot_form, @shot_form
        %td= f.label :demonology_form, '冥術'
        %td.formNum= text_field_tag :demonology_form, @demonology_form
      %tr
        %td.indent
        %td= f.label :guard_form, '護衛'
        %td.formNum= text_field_tag :guard_form, @guard_form
        %td= f.label :geography_form, '地学'
        %td.formNum= text_field_tag :geography_form, @geography_form
      %tr
        %td.indent
        %td= f.label :dance_form, '舞踊'
        %td.formNum= text_field_tag :dance_form, @dance_form
        %td= f.label :astronomy_form, '天文学'
        %td.formNum= text_field_tag :astronomy_form, @astronomy_form
      %tr
        %td.indent
        %td= f.label :theft_form, '盗術'
        %td.formNum= text_field_tag :theft_form, @theft_form
        %td= f.label :fengshui_form, '風水学'
        %td.formNum= text_field_tag :fengshui_form, @fengshui_form
      %tr
        %td.indent
        %td= f.label :cooking_form, '料理'
        %td.formNum= text_field_tag :cooking_form, @cooking_form
        %td= f.label :psychology_form, '心理学'
        %td.formNum= text_field_tag :psychology_form, @psychology_form
      %tr
        %td.indent
        %td= f.label :technology_form, '工芸学'
        %td.formNum= text_field_tag :technology_form, @technology_form
        %td= f.label :music_form, '音楽'
        %td.formNum= text_field_tag :music_form, @music_form
      %tr
        %td.indent
        %td= f.label :movement_form, '機動学'
        %td.formNum= text_field_tag :movement_form, @movement_form
        %td= f.label :curse_form, '呪術'
        %td.formNum= text_field_tag :curse_form, @curse_form
      %tr
        %td.indent
        %td= f.label :chemistry_form, '化学'
        %td.formNum= text_field_tag :chemistry_form, @chemistry_form
        %td= f.label :illusion_form, '幻術'
        %td.formNum= text_field_tag :illusion_form, @illusion_form
      %tr
        %td.indent
        %td= f.label :arithmetic_form, '算術'
        %td.formNum= text_field_tag :arithmetic_form, @arithmetic_form
        %td= f.label :trick_form, '奇術'
        %td.formNum= text_field_tag :trick_form, @trick_form
      %tr
        %td.indent
        %td.indent
        %td{colspan: "3"}
          %span.input
            = check_box_tag :min_0_hidden, @min_0_hidden, @min_0_hidden
            = label_tag :min_0_hidden, '影響しない学科は表示しない'
          %span.input
            = check_box_tag :min_0_gray, @min_0_gray, @min_0_gray
            = label_tag :min_0_gray, '影響しない学科は灰色にする'
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_card, @show_detail_card
          - act_icon(false)
          = label_tag :show_detail_card, '　カードの詳細を表示する', class: "act_desc"
          = label_tag :show_detail_card, '　カードの詳細を表示しない', class: "act_desc closed"
          %div.act_desc 　種類(発動タイミング)、LP、FP
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :kind_form, '種類'
        %td{colspan: "3"}
          %span.input
            = check_box_tag :kind_is_dissociation, @kind_is_dissociation, @kind_is_dissociation
            = label_tag :kind_is_dissociation, '解離'
            　
            = check_box_tag :kind_is_first, @kind_is_first, @kind_is_first
            = label_tag :kind_is_first, '先発'
            　
            = check_box_tag :kind_is_trap, @kind_is_trap, @kind_is_trap
            = label_tag :kind_is_trap, '罠'
          %span.input
            = check_box_tag :kind_is_automatic, @kind_is_automatic, @kind_is_automatic
            = label_tag :kind_is_automatic, '自動'
            　
            = check_box_tag :kind_is_abnormity, @kind_is_abnormity, @kind_is_abnormity
            = label_tag :kind_is_abnormity, '異常'
            　
            = check_box_tag :kind_is_moribundity, @kind_is_moribundity, @kind_is_moribundity
            = label_tag :kind_is_moribundity, '瀕死'
      %tr
        %td.indent
        %td= f.label :lp_form, 'LP'
        %td.formNum= text_field_tag :lp_form, @lp_form
        %td= f.label :fp_form, 'FP'
        %td.formNum= text_field_tag :fp_form, @fp_form
    %tbody
      %tr
      %tr
        %td.indent
          -@subjects.each do |subject, subject_name|
            = hidden_field_tag ("marked_" + subject).to_sym, @marked[subject]
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button

= paginate(@drop_min_subjects)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      - if @show_detail_result_no == "1"
        %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      -@subjects.each do |subject, subject_name|
        - if params["min_0_hidden"] && @open[subject] == 0
        - else
          - if params["min_0_gray"] && @open[subject] == 0
            %th{style: "background-color: #aaa;"}= sort_link(@search, (subject).to_sym,      subject_name, default_order: :desc)
          - elsif @marked[subject] == "on"
            %th{style: "background-color: #faa;"}= sort_link(@search, (subject).to_sym,      subject_name, default_order: :desc)
          - else
            %th= sort_link(@search, (subject).to_sym,      subject_name, default_order: :desc)
      - if @show_detail_card == "1"
        %th= sort_link(@search, :card_data_kind_name_name, '種類', default_order: :desc)
      %th= sort_link(@search, :card_data_name, '効果', default_order: :desc)
      %th= sort_link(@search, :card_data_lv, 'Lv', default_order: :desc)
      - if @show_detail_card == "1"
        %th= sort_link(@search, :card_data_lp, 'LP', default_order: :desc)
        %th= sort_link(@search, :card_data_fp, 'FP', default_order: :desc)
  %tbody
    - @drop_min_subjects.each do |drop_min_subject|
      %tr
        - if @show_detail_result_no == "1"
          %td= drop_min_subject.result_no
        - render_subjects(drop_min_subject, @subjects, params, @open, @marked)
        - if @show_detail_card == "1"
          %td= drop_min_subject.card_data.kind_name.name if drop_min_subject.card_data && drop_min_subject.card_data.kind_name
        %td
          - gray_text = @min_0_gray ? "&min_0_gray=" + @min_0_gray : ""
          - hidden_text = @min_0_hidden ? "&min_0_hidden=" + @min_0_hidden : ""
          = link_to drop_min_subject.card_data.name, drop_subjects_path + "?result_no_form=1~" + sprintf("%d",@last_result) + "&effect_form=\"" + drop_min_subject.card_data.name + "\"&lv_form=" + sprintf("%d", drop_min_subject.card_data.lv) + gray_text + hidden_text
        %td= drop_min_subject.card_data.lv   if drop_min_subject.card_data
        - if @show_detail_card == "1"
          %td= drop_min_subject.card_data.lp if drop_min_subject.card_data
          %td= drop_min_subject.card_data.fp if drop_min_subject.card_data
= paginate(@drop_min_subjects)
