- @page_title = "学科から獲得カードを探す"
%h1= @page_title

.card.desc
  .card-body
    %p チェックを入れた学科の鍛錬で獲得できるカードを検索します。
= search_form_for @search do |f|
  %table.table.table-striped.table-bordered.table-hover
    %tbody
    %tbody
      %tr
        %td
          = check_box_tag :slash_min_1, @slash_min_1, @slash_min_1
          = label_tag :slash_min_1, '斬術'
        %td
          = check_box_tag :fire_min_1, @fire_min_1, @fire_min_1
          = label_tag :fire_min_1, '火術'
      %tr
        %td
          = check_box_tag :thrust_min_1, @thrust_min_1, @thrust_min_1
          = label_tag :thrust_min_1, '突術'
        %td
          = check_box_tag :theology_min_1, @theology_min_1, @theology_min_1
          = label_tag :theology_min_1, '神術'
      %tr
        %td
          = check_box_tag :stroke_min_1, @stroke_min_1, @stroke_min_1
          = label_tag :stroke_min_1, '打術'
        %td
          = check_box_tag :life_min_1, @life_min_1, @life_min_1
          = label_tag :life_min_1, '命術'
      %tr
        %td
          = check_box_tag :shot_min_1, @shot_min_1, @shot_min_1
          = label_tag :shot_min_1, '射撃'
        %td
          = check_box_tag :demonology_min_1, @demonology_min_1, @demonology_min_1
          = label_tag :demonology_min_1, '冥術'
      %tr
        %td
          = check_box_tag :guard_min_1, @guard_min_1, @guard_min_1
          = label_tag :guard_min_1, '護衛'
        %td
          = check_box_tag :geography_min_1, @geography_min_1, @geography_min_1
          = label_tag :geography_min_1, '地学'
      %tr
        %td
          = check_box_tag :dance_min_1, @dance_min_1, @dance_min_1
          = label_tag :dance_min_1, '舞踊'
        %td
          = check_box_tag :astronomy_min_1, @astronomy_min_1, @astronomy_min_1
          = label_tag :astronomy_min_1, '天文学'
      %tr
        %td
          = check_box_tag :theft_min_1, @theft_min_1, @theft_min_1
          = label_tag :theft_min_1, '盗術'
        %td
          = check_box_tag :fengshui_min_1, @fengshui_min_1, @fengshui_min_1
          = label_tag :fengshui_min_1, '風水学'
      %tr
        %td
          = check_box_tag :cooking_min_1, @cooking_min_1, @cooking_min_1
          = label_tag :cooking_min_1, '料理'
        %td
          = check_box_tag :psychology_min_1, @psychology_min_1, @psychology_min_1
          = label_tag :psychology_min_1, '心理学'
      %tr
        %td
          = check_box_tag :technology_min_1, @technology_min_1, @technology_min_1
          = label_tag :technology_min_1, '工芸学'
        %td
          = check_box_tag :music_min_1, @music_min_1, @music_min_1
          = label_tag :music_min_1, '音楽'
      %tr
        %td
          = check_box_tag :movement_min_1, @movement_min_1, @movement_min_1
          = label_tag :movement_min_1, '機動学'
        %td
          = check_box_tag :curse_min_1, @curse_min_1, @curse_min_1
          = label_tag :curse_min_1, '呪術'
      %tr
        %td
          = check_box_tag :chemistry_min_1, @chemistry_min_1, @chemistry_min_1
          = label_tag :chemistry_min_1, '化学'
        %td
          = check_box_tag :illusion_min_1, @illusion_min_1, @illusion_min_1
          = label_tag :illusion_min_1, '幻術'
      %tr
        %td
          = check_box_tag :arithmetic_min_1, @arithmetic_min_1, @arithmetic_min_1
          = label_tag :arithmetic_min_1, '算術'
        %td
          = check_box_tag :trick_min_1, @trick_min_1, @trick_min_1
          = label_tag :trick_min_1, '奇術'
      %tr
        %td{colspan: "2"}
          = label_tag :example, '複数の学科を選択した時の絞り込み方'
      %tr
        %td{colspan: "2"}
          %ul.image_checkbox
            %li
              .check_div
                = label_tag :comb_or, "チェックした学科のどれかで獲得"
                .image_box
                  .image_frame
                    = image_tag('combination_0001.png')
                    %br
                    = check_box_tag :comb_or, @comb_or, @comb_or
            %li
              .check_div
                = label_tag :comb_and, "チェックした学科の組み合わせで獲得"
                .image_box
                  .image_frame
                    = image_tag('combination_0002.png')
                    %br
                    = check_box_tag :comb_and, @comb_and, @comb_and
          %p
            %span.example_select.example_toggle.pointer
              - help_icon
              %span.input
                どちらにもチェックしない時の挙動
              - act_desc(false)
          #example.closed
            ・一つの学科を選択：選択した学科単体で獲得できるカードと、選択した学科＋αで獲得できるカードがヒットします。
            %br
            ・複数の学科を選択：選択した学科の組み合わせで獲得できるカードと、選択した学科の組み合わせ＋αで獲得できるカードがヒットします。それぞれの学科単体での獲得カードはヒットしません。
            %br
            .image_frame
              = image_tag('combination_default_0001.png', size: '200x200')
            .image_frame
              = image_tag('combination_default_0002.png', size: '200x200')
      %tr
        %td
        %td{colspan: "3"}
          - search_submit_button
