!!! s
%html
  %head
    %title LastOrder#Aデータ小屋
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = link_to "LastOrder#Aデータ小屋", root_path, :class => "navbar-brand"
        .navbar-collapse.collapse#navbar-main
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                個人データ
                %span.caret
              %ul.dropdown-menu{:aria-labelledby => "themes"}
                %li= link_to "潜在・属性・専門一覧", profile_pgws_path
                %li= link_to "特性一覧", characteristics_path
                %li= link_to "学科一覧", subjects_path
                %li.divider
                %li= link_to "潜在・属性・専門グラフ", pgws_graph_path
                %li.divider
                %li= link_to "所持アイテム一覧", items_path
                %li= link_to "所持カード一覧", cards_path
                %li= link_to "所持施設一覧", facilities_path
                %li.divider
                %li= link_to "開拓戦勝率", development_result_win_per_path
                %li= link_to "開拓戦勝敗一覧", development_results_path
            %li.dropdown
              %a.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                取得カード
                %span.caret
              %ul.dropdown-menu{:aria-labelledby => "themes"}
                %li= link_to "全取得カード一覧", get_cards_path
                %li.divider
                %li= link_to "獲得カード＋学科一覧", drop_subjects_path
                %li= link_to "推定カード獲得条件一覧", drop_min_subjects_path
                %li= link_to "学科から獲得カードを探す", drop_min_subject_select_path
            %li.dropdown
              %a.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                模擬戦データ
                %span.caret
              %ul.dropdown-menu{:aria-labelledby => "themes"}
                %li= link_to "カード発動者一覧", card_users_path
                %li= link_to "カード発動結果一覧", card_use_pages_path
    .container
      .row
        .col-md-12
          = yield
      
      %footer
        %p
          制作#{link_to "@white_mns", "http://twitter.com/white_mns"}
          %br
          = link_to "プライバシーポリシー", top_page_privacy_path
          %br
          ソースコード [#{link_to "解析部分", "https://github.com/white-mns/lo_parse"}] [#{link_to "表示部分", "https://github.com/white-mns/lo_rails"}]
      = render 'layouts/analytics'
