!!! s
%html
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

  %body
    %nav.navbar.navbar-expand-md.fixed-top.navbar-light.bg-primary.navbar-custom.p-0
      .container
        = link_to "LastOrder#Aデータ小屋", root_path, class: "navbar-brand"
        %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#navbarResponsive"}, area: {controls: "navbarResponsive", expanded: "false", label: "Toggle navigation"}}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarResponsive
          %ul.navbar-nav
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                個人データ
                %span.caret
              .dropdown-menu{aria: {labelledby: "themes"}}
                = link_to "潜在・属性・専門一覧", profile_pgws_path, class: "dropdown-item"
                = link_to "特性一覧", characteristics_path, class: "dropdown-item"
                = link_to "学科一覧", subjects_path, class: "dropdown-item one-item"
                .dropdown-divider
                = link_to "所持アイテム一覧", items_path, class: "dropdown-item"
                = link_to "所持カード一覧", cards_path, class: "dropdown-item"
                = link_to "設置施設一覧", facilities_path, class: "dropdown-item one-item"
                .dropdown-divider
                = link_to "受給ミッション達成率", mission_statistics_path, class: "dropdown-item"
                = link_to "受給ミッション一覧", missions_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "鍛錬一覧", trainings_path, class: "dropdown-item"
                = link_to "使用アイテム一覧", item_uses_path, class: "dropdown-item"
                = link_to "開拓戦勝率", development_result_win_per_path, class: "dropdown-item"
                = link_to "開拓戦勝敗一覧", development_results_path, class: "dropdown-item"
                = link_to "施設利用一覧", facility_uses_path, class: "dropdown-item"
                = link_to "作製結果一覧", manufactures_path, class: "dropdown-item"
                = link_to "BUG一覧", bugs_path, class: "dropdown-item one-item"
                .dropdown-divider
                = link_to "カード対戦設定一覧", command_actions_path, class: "dropdown-item"
                = link_to "カード設定枚数ランキング", command_action_rankings_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "潜在・属性・専門グラフ", pgws_graph_path, class: "dropdown-item"
                = link_to "鍛錬グラフ", training_graph_path, class: "dropdown-item"
                = link_to "鍛錬遷移グラフ", training_history_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                取得カード
                %span.caret
              .dropdown-menu
                = link_to "全取得カード一覧", get_cards_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "獲得カード＋学科一覧", drop_subjects_path, class: "dropdown-item"
                = link_to "推定カード獲得条件一覧", drop_min_subjects_path, class: "dropdown-item"
                = link_to "学科から獲得カードを探す", drop_min_subject_select_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                模擬戦データ
                %span.caret
              .dropdown-menu
                = link_to "カード発動者一覧", card_users_path, class: "dropdown-item"
                = link_to "カード発動結果一覧", card_use_pages_path, class: "dropdown-item"
                = link_to "最大連鎖数ランキング", max_chains_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "干渉効果成功率一覧", meddling_success_rates_path, class: "dropdown-item"
                = link_to "干渉効果対象一覧", meddling_targets_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "ダメージ・回復一覧", damages_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                新出データ
                %span.caret
              .dropdown-menu
                = link_to "新出取得カード一覧", new_get_cards_path, class: "dropdown-item"
                = link_to "新出発動カード一覧", new_card_uses_path, class: "dropdown-item"
                = link_to "新出使用アイテム一覧", new_item_uses_path, class: "dropdown-item"
    .container
      .row
        .col-md-12
          = yield
      
      %footer
        %p
          制作#{link_to "@white_mns", "http://twitter.com/white_mns"}
          %br
          = link_to "プライバシーポリシー", top_page_privacy_path
          %br
          ソースコード [#{link_to "解析部分", "https://github.com/white-mns/lo_parse"}] [#{link_to "表示部分", "https://github.com/white-mns/lo_rails"}]
      = render 'layouts/analytics'
