- @page_title = "潜在・属性・専門グラフ"
%h1= @page_title

.bs-component
  %ul.breadcrumb{:style => "margin-bottom: 5px;"}
    %li= link_to "潜在・属性・専門一覧", profile_pgws_path
    %li 潜在・属性・専門グラフ

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search, url: pgws_graph_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "4"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td= f.label :result_no_form, '更新回'
        %td.formNum= text_field_tag :result_no_form, @result_no_form
      %tr
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td= f.label :pgws_name_id_form, '潜在・属性・専門名'
        %td.formText= text_field_tag :pgws_name_id_form, @pgws_name_id_form
      %tr
        %td= hidden_field_tag :is_form, 1
        %td= f.submit '検索する'

%br
%br

%h3 潜在1+2
= column_chart Pgw.pgws_type([1, 2], params).to_potential_graph(:pgws_name_id), ytitle:"人数" 
%h3 Good1+2
= column_chart Pgw.pgws_type([3, 4], params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 Weak1+2
= column_chart Pgw.pgws_type([5, 6], params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 専門1+2
= column_chart Pgw.pgws_type([7, 8], params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 潜在1
= column_chart Pgw.pgws_type(1, params).to_potential_graph(:pgws_name_id), ytitle:"人数" 
%h3 潜在2
= column_chart Pgw.pgws_type(2, params).to_potential_graph(:pgws_name_id), ytitle:"人数" 
%h3 Good1
= column_chart Pgw.pgws_type(3, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 Good2
= column_chart Pgw.pgws_type(4, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 Weak1
= column_chart Pgw.pgws_type(5, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 Weak2
= column_chart Pgw.pgws_type(6, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 専門1
= column_chart Pgw.pgws_type(7, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 専門2
= column_chart Pgw.pgws_type(8, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
