%h1 潜在・属性・専門グラフ

.bs-component
  %ul.breadcrumb{:style => "margin-bottom: 5px;"}
    %li= link_to "潜在・属性・専門一覧", profile_pgws_path
    %li 潜在・属性・専門グラフ

.bs-docs-section
  .row
    .col-md-12
      %p.formNum 
        テキストフォームの隣に赤い破線がある項目は数値検索です。
        %br
        「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。
        %br
        OR指定と範囲指定を同時に行うことはできません。
      %p.formText
        テキストフォームの隣に青い太線がある項目は文字検索です。
        %br
        半角スペース区切りでAND、「/」区切りでOR、単語の前に「-」でNOT、単語の前後に「"」をつけて完全一致が使えます
        %br
        ANDとORを組み合わせた時は、ANDで区切った後にORで区切るという順番になります。
      %p
        %span#example_open.example_select.pointer{:onclick => "example_open(true)"}
          入力例（クリックで開きます）
          %br
        %span#example_close.example_select.pointer{:style => "display:none;", :onclick => "example_open(false)"}
          入力例（クリックで閉じます）
          %br
        #example{:style => "display:none;"}
          %p.formNum
            数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
            %br
            「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。
          %p.formText
            「傷火炎」と入力　→　傷火炎、列傷火炎、全傷火炎……が検索結果にヒット
            %br
            「"傷火炎"」　→　完全一致で「傷火炎」のみ検索結果にヒット
            %br
            「-傷火炎」　→　「傷火炎」の単語を含まないものが検索結果にヒット
            %br
            「-"傷火炎"」　→　完全一致で「傷火炎」以外の全てが検索結果にヒット
            %br
            「傷火炎 -"傷火炎"」　→　「傷火炎」が含まれる単語で完全一致の「傷火炎」以外がヒット。つまり、傷火炎を除いて列傷火炎、全傷火炎……がヒットします。
            %br
            「傷 火炎」　→　「傷」と「火炎」の2つの単語が含まれるものが検索結果にヒット。傷火炎、傷身火炎、傷心火炎……がヒットします。
            %br
            「傷/火炎」　→　「傷」か「火炎」のどちらかの単語が含まれるものが検索結果にヒット。傷火炎、傷氷水、耐火炎……がヒットします。
            %br
            「傷 火炎/氷水」　→　「傷」が含まれ、さらに 「火炎」か「氷水」 が含まれるものが検索結果にヒット
            %br
            「-傷 -火炎」　→　「傷」もしくは「火炎」という単語が含まれるものを検索結果から除外
      = search_form_for @search, url: pgws_graph_path do |f|
        %table#search_close.table.table-striped.table-bordered.table-hover{:style => "display:none;", :onclick=>"search_open(true);"}
          %tbody
          %tr
            %td{:colspan => "2", :style => "cursor:pointer;"}
              絞り込み検索
              %span{:style => "font-size:80%"}
                (クリックで開きます)

        %table#search_table.table.table-striped.table-bordered.table-hover
          %tbody
            %tr
              %td{:colspan => "2", :style => "cursor:pointer;", :onclick => "search_open(false);"}
                絞り込み検索
                %span{:style => "font-size:80%"}
                  (クリックで閉じます)
            %tr
              %td= f.label :result_no_form, '更新回'
              %td.formNum= text_field_tag :result_no_form, @result_no_form
            %tr
              %td= f.label :e_no_form, 'Eno'
              %td.formNum= text_field_tag :e_no_form, @e_no_form
            %tr
              %td= f.label :p_name_form, 'キャラクター名'
              %td.formText= text_field_tag :p_name_form, @p_name_form
            %tr
              %td= f.label :pgws_name_id_form, '潜在・属性・専門名'
              %td.formText= text_field_tag :pgws_name_id_form, @pgws_name_id_form
            %tr
              %td= hidden_field_tag :is_form, 1
              %td= f.submit '検索する'

      %br
      %br

%h3 潜在1+2
= column_chart Pgw.pgws_type([1, 2], params).to_potential_graph(:pgws_name_id), ytitle:"人数" 
%h3 Good1+2
= column_chart Pgw.pgws_type([3, 4], params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 Weak1+2
= column_chart Pgw.pgws_type([5, 6], params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 専門1+2
= column_chart Pgw.pgws_type([7, 8], params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 潜在1
= column_chart Pgw.pgws_type(1, params).to_potential_graph(:pgws_name_id), ytitle:"人数" 
%h3 潜在2
= column_chart Pgw.pgws_type(2, params).to_potential_graph(:pgws_name_id), ytitle:"人数" 
%h3 Good1
= column_chart Pgw.pgws_type(3, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 Good2
= column_chart Pgw.pgws_type(4, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 Weak1
= column_chart Pgw.pgws_type(5, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 Weak2
= column_chart Pgw.pgws_type(6, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 専門1
= column_chart Pgw.pgws_type(7, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
%h3 専門2
= column_chart Pgw.pgws_type(8, params).to_pgws_graph(:pgws_name_id), ytitle:"人数" 
