- @page_title = "カード発動結果一覧"
%h1= @page_title

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "4"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td= f.label :battle_page_form, '模擬戦名　(X VS X)'
        %td.formText= text_field_tag :battle_page_form, @battle_page_form
        %td= f.label :party_form, '発動パーティ'
        %td.formNum= text_field_tag :party_form, @party_form
      %tr
        %td= f.label :use_cards_form, 'カード効果'
        %td.formText{colspan: "3"}= text_field_tag :use_cards_form, @use_cards_form
      %tr
        %td
        %td{colspan: "3"}
          = check_box_tag :party_all, @party_all, @party_all
          = label_tag :party_all, '試合全体の使用カードを見る'
          　　
          = check_box_tag :party_one, @party_one, @party_one
          = label_tag :party_one, 'PT別の使用カードを見る'
      %tr
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}= f.submit '検索する'


= paginate(@card_use_pages)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :battle_page, '模擬戦', default_order: :desc)
      %th= sort_link(@search, :party, '発動PT', default_order: :desc)
      %th= sort_link(@search, :use_cards, 'カード効果', default_order: :desc)
      %th{colspan:"2"} 模擬戦結果
  %tbody
    - @card_use_pages.each do |card_use_page|
      %tr
        %td= card_use_page.result_no
        %td= card_use_page.battle_page
        %td= card_use_page.party > 0 ? card_use_page.party : "全体"
        %td= card_use_page.use_cards
        %td= battle_link(@last_result, card_use_page.battle_page, card_use_page.result_no)
        %td= battle_old_link(@last_result, card_use_page.battle_page, card_use_page.result_no)
= paginate(@card_use_pages)
